form{

}
form ul{
	margin: 0;
    padding: 0;
}
form li{
	list-style: none outside none;
    margin: 0;
    padding: 0;
}
form label{
	display: block;
    float: none;
    font-weight: bold;
    line-height: 20px;
    padding-top: 0;
    text-align: left;
    width: auto;
    color: #555;
	font-size: 13px;
	padding: 6px 15px 0 0;
	cursor: pointer;
}
input,
textarea {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-khtml-box-sizing: border-box;
	width: 100%;
	border: 1px solid #b9b9b9;
	color: #808080;
	display: inline-block;
	font-size: 13px;
	line-height: 1.2;
	margin-bottom:7px;
	padding: 4px;
	vertical-align:baseline;
}
input{
    height: 28px;
}
textarea {
	height: auto;
	margin: 0 0 20px;
	min-height: 100px;
	overflow: auto;
	resize: vertical;
	vertical-align: top;
}
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
textarea:focus {
	border-color: rgba(82, 168, 236, 0.8);
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
	-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
	outline: none;
}
.btns{
    text-align:center;
}
.btn {
    background: #fff;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#e6e6e6));
	background: -moz-linear-gradient(top, #fff 0%, #e6e6e6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#e6e6e6',GradientType=0 );
    border: none;
    border-radius: 3px;
    box-shadow: 0 1px 0 #ccc inset, 1px 0 0 #bbb inset, -1px 0 0 #bbb inset, 0 -1px 0 #aaa inset, 0 2px 0 rgba(255, 255, 255, 0.3) inset, 0 0 4px rgba(255, 255, 255, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.2);
    color: #333;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: normal;
    margin: 0 5px;
	padding: 8px 15px 6px;
    text-align: center;
    text-decoration: none;
    text-indent:0;
    text-shadow: 0 -1px 0 rgba(255,255,255, 0.3);
    -webkit-transition:none;
	-moz-transition:none;
	transition:none;
}
.btn:hover {
    background: #fefefe;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#d6d6d6));
	background: -moz-linear-gradient(top, #fefefe 0%, #d6d6d6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='fefefe', endColorstr='#d6d6d6',GradientType=0 );
	text-decoration: none;
}
.btn:active {
    box-shadow: 0 1px 0 rgba(40, 40, 40, 0.4) inset, 1px 0 0 rgba(40, 40, 40, 0.2) inset, -1px 0 0 rgba(40, 40, 40, 0.3) inset, 0 -1px 0 rgba(40, 40, 40, 0.4) inset, 0 1px 5px rgba(0, 0, 0, 0.2) inset;
}
.btn {
	background: #EC6040;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EC6040), color-stop(100%,#E13D29));
	background: -moz-linear-gradient(top, #EC6040 0%, #E13D29 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EC6040', endColorstr='#E13D29',GradientType=0 );
	box-shadow: 0 1px 0 #BE331B inset, 1px 0 0 #A42A15 inset, -1px 0 0 #A42A15 inset, 0 -1px 0 #8C200E inset, 0 2px 0 rgba(255, 255, 255, 0.3) inset, 0 0 4px rgba(255, 255, 255, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.2);
	color: #fff;
	text-shadow: 0 -1px 0 #A62416;
}
.btn:hover {
	background: #E05434;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#E05434), color-stop(100%,#CE3420));
	background: -moz-linear-gradient(top, #E05434 0%, #CE3420 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E05434', endColorstr='#CE3420',GradientType=0 );
	color: #fff;
}
.btn:active {
	box-shadow: 0 1px 0 rgba(10, 10, 10, 0.5) inset, 1px 0 0 rgba(10, 10, 10, 0.3) inset, -1px 0 0 rgba(10, 10, 10, 0.4) inset, 0 -1px 0 rgba(10, 10, 10, 0.5) inset, 0 1px 5px rgba(0, 0, 0, 0.3) inset, 0 1px 0 rgba(255, 255, 255, 0.3);
}