/* HTML5 ✰ Boilerplate
 * ==|== normalize ==========================================================
 */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing:antialiased; }
body { margin: 0; font-size: 100%; line-height: 1.4; }
body, button, input, select, textarea { font-family: sans-serif; color: #222; }

::-moz-selection { background: #ffffa9; color:#54545e; text-shadow: none; }
::selection { background: #ffffa9; color:#54545e; text-shadow: none; }

a {
	color: #0eaea2;
	text-decoration: none;
	-webkit-transition: color .25s ease-in, background .25s ease-in, opacity .25s ease-in;
	-moz-transition: color .25s ease-in, background .25s ease-in, opacity .25s ease-in;
	-ms-transition: color .25s ease-in, background .25s ease-in, opacity .25s ease-in;
	-o-transition: color .25s ease-in, background .25s ease-in, opacity .25s ease-in;
	transition: color .25s ease-in, background .25s ease-in, opacity .25s ease-in;
}
a:hover { color: #10ccbc; }
a:focus { outline: thin dotted; }
a:active{ color: #0eaea2; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* ==|== non-semantic helper classes ======================================== */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
.clear{clear: both;}

.hide {display: none;}
.show {display: block;}
/* ==|== print styles ======================================================= */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}

/* ==|== typo ======================================================= */
@font-face {
    font-family: 'Outage';
    src: url('../font/outage/outage-webfont.eot');
    src: url('../font/outage/outage-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/outage/outage-webfont.woff') format('woff'),
         url('../font/outage/outage-webfont.ttf') format('truetype'),
         url('../font/outage/outage-webfont.svg#OutageRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'QuicksandLight';
    src: url('../font/quicksand/Quicksand_Light-webfont.eot');
    src: url('../font/quicksand/Quicksand_Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/quicksand/Quicksand_Light-webfont.woff') format('woff'),
         url('../font/quicksand/Quicksand_Light-webfont.ttf') format('truetype'),
         url('../font/quicksand/Quicksand_Light-webfont.svg#QuicksandLight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BitstreamVeraSansRoman';
    src: url('../font/bitstream/Vera-webfont.eot');
    src: url('../font/bitstream/Vera-webfont?#iefix') format('embedded-opentype'),
         url('../font/bitstream/Vera-webfont.woff') format('woff'),
         url('../font/bitstream/Vera-webfont.ttf') format('truetype'),
         url('../font/bitstream/Vera-webfont.svg#BitstreamVeraSansRoman') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BitstreamVeraSansBold';
    src: url('../font/bitstream/Vera-Bold-webfont.eot');
    src: url('../font/bitstream/Vera-Bold-webfont?#iefix') format('embedded-opentype'),
         url('../font/bitstream/Vera-Bold-webfont.woff') format('woff'),
         url('../font/bitstream/Vera-Bold-webfont.ttf') format('truetype'),
         url('../font/bitstream/Vera-Bold-webfont.svg#BitstreamVeraSansBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
    
html,body{
	background: #273138;
/*
	background: -moz-radial-gradient(center, ellipse cover, #282c33 0%, #1c1e20 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#282c33), color-stop(100%,#1c1e20));
	background: -webkit-radial-gradient(center, ellipse cover, #282c33 0%,#1c1e20 100%);
	background: -o-radial-gradient(center, ellipse cover, #282c33 0%,#1c1e20 100%);
	background: -ms-radial-gradient(center, ellipse cover, #282c33 0%,#1c1e20 100%);
	background: radial-gradient(center, ellipse cover, #282c33 0%,#1c1e20 100%);
	background-repeat: repeat-y;
*/
	width: 100%;
	height: 100%;
	background-attachment: fixed;
}
h1{
	color: #30353d;
	font-family: 'BitstreamVeraSansBold', Arial, sans-serif;
	font-size: 32px;
	font-weight: normal;
	margin: 0 0 30px;
	text-shadow: 0 1px 1px rgba(255,255,255,0.7);
}
h2{
	color: #30353d;
	font-family: 'BitstreamVeraSansBold', Arial, sans-serif;
	font-size: 32px;
	font-weight: normal;
	margin: 0 0 20px;
	padding: 0;
	text-shadow: 0 1px 1px rgba(255,255,255,0.7);	
}
h3{
	color: #30353d;
	font-size:24px;
	margin:0 0 5px;
	text-shadow: 0 1px 1px rgba(255,255,255,0.7);	
}
h4{
	color: #30353d;
	margin: 0 0 5px;
	text-shadow: 0 1px 1px rgba(255,255,255,0.7);	
}
p{
	color: #515151;
	font-family: 'BitstreamVeraSansRoman', Arial, sans-serif;
	font-size: 17px;
	line-height: 1.5;
	margin: 0 0 20px;
	text-shadow: 0 1px 1px rgba(255,255,255,0.7);	
}
ul{
    margin:0 0 20px;
}
li{
	color: #515151;
	font-family: 'BitstreamVeraSansRoman', Arial, sans-serif;
	font-size: 17px;
	line-height: 1.5;
	text-shadow: 0 1px 1px rgba(255,255,255,0.7);	
}
dt{
    font-weight:bold;
}
dl{
	color: #515151;
	font-family: 'BitstreamVeraSansRoman', Arial, sans-serif;
	font-size: 17px;
	line-height: 1.5;
	margin:0 0 10px;
	text-shadow: 0 1px 1px rgba(255,255,255,0.7);	
}