.container{
    margin: 0 auto;
    width: 1024px;
}
header{
    margin: 10px 0;
}
header h1{
    color: #e32c00;
    display: inline;
	font-family: 'Outage';
	font-size: 50px;
	margin: 0;
	text-shadow:-1px 1px 0 #991f00,
				-2px 2px 0 #701600,
				-3px 3px 0 #591200,
				-5px 5px 5px rgba(0,0,0,5),
				0 5px 20px rgba(0,0,0,5);
}
header h1 a, header h1 a:hover{
    color: #e32c00;
}
nav{
    float: right;
    margin:20px 0 0;
    text-align: right;
}
nav h1{
    color: #fff;
    font-size: 20px;
    text-align: center;
    text-shadow: 0 2px 2px rgba(0,0,0,0.9);
}
nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
nav li{
    display: inline-block;
    padding: 0 5px;
}
nav a{
    background-color: rgba(0,0,0,0.2);
    border-radius: 4px;
    color: #666666;
	font-family: 'QuicksandLight';
	font-size: 18px;
	padding: 10px 15px;
	text-align: center;
	text-shadow: none;
}
nav a:hover{
    background-color: rgba(0,0,0,0.3);
    box-shadow: 0 1px 5px rgba(0,0,0,0.1);
    color: #858585;
}
/* ========================================================= Home ===*/
#home{
	margin: 0 auto;
	padding: 130px 0 30px;
	width: 1024px;
}
#home h1 {
	color: #e32c00;
	font-family: 'Outage';
	font-size: 72px;
	margin: 0 0 50px;
	text-align: center;
	text-shadow:-1px 1px 0 #991f00,
				-2px 2px 0 #701600,
				-3px 3px 0 #591200,
				-5px 5px 5px rgba(0,0,0,5),
				0 5px 20px rgba(0,0,0,5);
}
#home p{
	color: #ababab;
	font-family: 'QuicksandLight';
	font-size: 26px;
	margin: 0 0 60px;
	text-align: center;
	text-shadow: none;
}
#home nav{
    float: none;
}
/* ========================================================= Articles ===*/
article{
	margin: 30px auto 30px;
	padding: 5px;
	width: 700px;
}
article #content{
    padding: 40px 60px 30px;
}
#page{
	background-color: rgba(255, 255, 255, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 2px;
	box-shadow: 0 3px 10px #000000;
	padding: 5px;
}
#content{
	background-color: #eee;
	border: 1px solid #fff;
	border-radius: 2px;
	padding: 30px 30px 20px;
}
#content img{
	border-radius: 4px;
	box-shadow: 0 1px 0 rgba(255,255,255,0.9);
	display:block;
	height: auto;
	max-width: 100%;
	margin: 0 auto 20px;
}
article h1{
	text-align: center;
}
article p{
	-moz-hyphens: auto;
    hyphens: auto;
	text-align: justify;
}
article h1 + p:first-letter {
   font-size: 30px;
   line-height: 0;
}
.byline{
	color: #808590;
	font-size: 14px;
	margin: 30px 0 -10px;
	text-align: center;
	text-indent: 0;
}
/* ========================================================= Nav ===*/
.contact{
    margin: 0 auto;
	padding: 0;
	width: 425px;
}
.contact li{
    display: inline-block;
	list-style: none;
	margin: 0 0 10px;
	padding: 0;
}
.contact li a{
    padding: 20px;
}
.contact span{
	display: inline-block;
	height: 16px;
	margin: 0 10px 0 0;
	width: 16px;
	vertical-align: middle;
}
#email{background: no-repeat url('../img/contact.png') 0 0;}
#plus{background: no-repeat url('../img/contact.png') 0 -16px;}
#forrst{background: no-repeat url('../img/contact.png') 0 -32px;}
#dribbble{background: no-repeat url('../img/contact.png') 0 -48px;}
#twitter{background: no-repeat url('../img/contact.png') 0 -64px;}
#aim{background: no-repeat url('../img/contact.png') 0 -80px;}
/* ========================================================= About ===*/
#aboutme img{
    box-shadow: 0 0 0 5px #FFFFFF, 0 0 0 6px #CCCCCC, 0 13px 8px -7px rgba(0,0,0,0.9);
    border-radius:0;
    float: left;
    margin: 0 30px 5px 0;
    width: 459px;
}
#resume-intro img{
    box-shadow: 0 0 0 5px #FFFFFF, 0 0 0 6px #CCCCCC, 0 13px 8px -7px rgba(0,0,0,0.9);
    border-radius:0;
    float: left;
    margin: 0 30px 30px 0;
    width: 459px;
}
#resume-intro h1{
    display:inline-block;
    margin:20px 0 0;
}
#resume-intro h2{
    color:#666;
    font-size:20px;
    margin:0 0 20px;
}
#resume-intro p{
    
}
#resume h2{
    font-size: 26px;
    margin: 0;
}
#resume .company{
    float:left;
    margin: 0 40px 0 0;
    text-align:right;
    width:295px;
}
#resume .company h2{
    font-size:18px;
}
#resume .company p{
    font-size: 15px;
    margin:0;
}
#resume .company a{
    color:#30353D;
}
#resume .details{
    float:left;
    margin:0 0 30px;
    width:615px;
}
#resume .details p{
    color:#30353D;
    margin:0;
}
#resume p{
    color: #aaa;
    margin: 0 0 20px;
}
#resume ul{
    list-style:none;
    margin: 0;
    padding:0;
}
#resume li{
    color: #666;
    font-size:15px;
    margin:0 0 10px;
}
#history img{
    box-shadow: 0 0 0 5px #FFFFFF, 0 0 0 6px #CCCCCC, 0 13px 8px -7px rgba(0,0,0,0.9);
    border-radius:0;
    float: right;
    margin: 0 0 20px 30px;
    width: 248px;
}
/* ========================================================= Projects ===*/
#current-project{
    margin: 0 0 30px;
}
#current-project img{
    box-shadow: none;
    float: left;
    height: 400px;
    margin: 0 20px -31px 0;
    width: 459px;
}
#current-project h2{
    padding: 60px 0 0;
}
#current-project .btn{
    float: right;
    margin: 10px 0 0;
}
#logos{
    list-style: none;
    margin: 0;
    padding: 0;
}
#logos li, #logos li a{
    background-image: url(/projects/assets/logos/sprite.png);
    background-position: no-repeat;
    border-radius: 4px;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    box-shadow: 0 9px 8px -10px rgba(0,0,0,0.8), 0 0 0 1px #ccc;
    display: block;
    float: left;
    height: 214px;
    margin: 0 15px 30px;
    -webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
	-ms-transition:all 0.3s ease-in-out;	
	transition:all 0.3s ease-in-out;
    width: 286px; 
}
#logos li a{
    margin: 0;
}
#gradespotter {background-position: 0 -4934px}
#gradespotter:hover {background-position: 0 -4719px}
#in {background-position: 0 -4076px}
#in:hover {background-position: 0 -3861px}
#mshanken {background-position: 0 -1931px}
#mshanken:hover {background-position: 0 -1717px}
#hackerunion {background-position: 0 -4505px}
#hackerunion:hover {background-position: 0 -4290px}
#pixeloil {background-position: 0 -1502px}
#pixeloil:hover {background-position: 0 -1287px}
#whoworksat {background-position: 0 -215px}
#whoworksat:hover {background-position: 0 0}
#adsperince {background-position: 0 -5792px}
#adsperince:hover {background-position: 0 -5577px}
#todaywegive {background-position: 0 -1073px}
#todaywegive:hover {background-position: 0 -858px}
#kqwebshow {background-position: 0 -3218px}
#kqwebshow:hover {background-position: 0 -3003px}
#usemycrm {background-position: 0 -644px}
#usemycrm:hover {background-position: 0 -429px}
#lemonadestand {background-position: 0 -2789px}
#lemonadestand:hover {background-position: 0 -2574px}
#joekennedy {background-position: 0 -3647px}
#joekennedy:hover {background-position: 0 -3432px}
#dbookshelf {background-position: 0 -5363px}
#dbookshelf:hover {background-position: 0 -5148px}
#lux {background-position: 0 -2360px}
#lux:hover {background-position: 0 -2145px}
#kg41 {background-position: 0 -6221px}
#kg41:hover {background-position: 0 -6006px}
/* ========================================================= Article ===*/
#article-list{
	margin: 0;
	padding: 0;
}
#article-list li{
	background-color: #EEEEEE;
    border: 1px solid #FFFFFF;
    border-radius: 2px 2px 2px 2px;
    list-style: none;
    margin: 0 0 20px;
    padding: 20px;
}
#article-list li:last-child{
	margin: 0;
}
#article-list p{
	margin: 0 0 10px;
}
#article-list p.byline{
	margin: 0;
}
code, pre {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 0 3px 2px;
    font-size: 14px;
    font-family:Consolas, Monaco, Andale Mono, Courier New, monospace;
    text-shadow:none;
}
code {
    background-color: #fee9cc;
    color: rgba(0, 0, 0, 0.75);
    padding: 1px 3px;
}
pre {
    background-color:#0b0f22;
    border:5px solid #ddd;
    border: 5px solid rgba(255,255,255, 0.2);
    display: block;
    margin: 0 0 20px -130px;
    padding: 20px ;
    line-height: 1.66;
    overflow: auto;
    width: 910px;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}
pre ol li{
    font-size: 13px;
    font-family:Consolas, Monaco, Andale Mono, Courier New, monospace;
    text-shadow:none;
}
object{
    display:block;
    margin:0 0 20px;
}
/* ========================================================= Footer ===*/
footer{
    height:20px;
}
/* ========================================================= Structure ===*/
.left {
    float: left;
    margin: 0 30px 0 0;
}
hr {
    background: none repeat scroll 0 0 #E5E5E5;
    border: medium none;
    box-shadow: 0 1px 0 #fafafa;
    clear: both;
    height: 1px;
    margin: 0 0 20px;
    width: 100%;
}