/* ========================================================= Header ===*/
header{
	background: #f04043;
	background: -moz-linear-gradient(top,  #f04043 0%, #b23032 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f04043), color-stop(100%,#b23032));
	background: -webkit-linear-gradient(top,  #f04043 0%,#b23032 100%);
	background: -o-linear-gradient(top,  #f04043 0%,#b23032 100%);
	background: -ms-linear-gradient(top,  #f04043 0%,#b23032 100%);
	background: linear-gradient(top,  #f04043 0%,#b23032 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f04043', endColorstr='#b23032',GradientType=0 );
	border-bottom: 1px solid #631b1c;
	box-shadow: 0 1px 0 rgba(255,255,255,0.4) inset, 0 1px 3px rgba(0,0,0,0.5);
    position: relative;
    z-index: 5;
}
header h1{
    display: inline;
	font-family: 'Outage';
	font-size: 22px;
	margin: 0;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.4);
	vertical-align: middle;
	/*
	-webkit-animation: bounce 1s;
	-moz-animation: bounce 1s;
	-ms-animation: bounce 1s;
	-o-animation: bounce 1s;
	animation: bounce 1s;
	*/
}
header h1 a, header h1 a:hover{
	color: #fff;
}
header img{
	background: #e53e41;
	background: -moz-linear-gradient(top,  #e53e41 0%, #a82d2f 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e53e41), color-stop(100%,#a82d2f));
	background: -webkit-linear-gradient(top,  #e53e41 0%,#a82d2f 100%);
	background: -o-linear-gradient(top,  #e53e41 0%,#a82d2f 100%);
	background: -ms-linear-gradient(top,  #e53e41 0%,#a82d2f 100%);
	background: linear-gradient(top,  #e53e41 0%,#a82d2f 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e53e41', endColorstr='#a82d2f',GradientType=0 );
	border: 1px solid #631b1c;
	border-radius: 4px;
	box-shadow: 0 1px 0 rgba(255,255,255,0.3) inset, 0 1px 0 rgba(255,255,255,0.3);
	margin: 0 10px 0 0;
	padding: 6px;
}
/* -------------
-- Navigation --
------------- */
nav{
	background: #e53e41;
	background: -moz-linear-gradient(top,  #e53e41 0%, #a82d2f 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e53e41), color-stop(100%,#a82d2f));
	background: -webkit-linear-gradient(top,  #e53e41 0%,#a82d2f 100%);
	background: -o-linear-gradient(top,  #e53e41 0%,#a82d2f 100%);
	background: -ms-linear-gradient(top,  #e53e41 0%,#a82d2f 100%);
	background: linear-gradient(top,  #e53e41 0%,#a82d2f 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e53e41', endColorstr='#a82d2f',GradientType=0 );
	border: 1px solid #631b1c;
	border-radius: 4px;
	box-shadow: 0 1px 0 rgba(255,255,255,0.3) inset, 0 1px 0 rgba(255,255,255,0.3);
    float: right;
    margin:0;
    text-align: right;
}
nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
nav li{
    display: inline-block;
    padding: 0;
}
nav a{
	border-right: 1px solid #c76869;
	box-shadow: 1px 0 0 #7e2223;
    color: #f7f7f7;
    display: block;
	font-size: 12px;
	padding: 9px 20px;
	text-align: center;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
	text-transform:lowercase;
}
nav a:hover{
	color: #fff;
}
nav li:last-child a{
	border: none;
	box-shadow: none;
}
/* ========================================================= Home ===*/
#intro{
	background-color: #f3f6f8;
	padding: 50px 0 40px;
	text-align: center;
}
#intro img{
	margin: 0 auto;
	max-width: 100%;
	height: auto;
}
#intro h1{
	font-size: 41px;
	margin: 0 0 10px;
	padding: 50px 0 0;
}
#intro p{
	font-size: 22px;
}
/* ----------------
-- Grade Spotter --
---------------- */
#showcase-gradespotter{
	background-color: #283F49;
	border-top: 3px solid #1f3138;
	padding: 80px 0 0;
	height: 450px;
    overflow: hidden;
}
#showcase-gradespotter .info{
	padding: 20px 0 0;
	float: right;
}
#showcase-gradespotter .info img{
	display: block;
    margin: 0 auto 30px;
}
#showcase-gradespotter .feat img{
	height: auto;
    max-width: 100%;
}
#showcase-gradespotter p{
	color: #fff;
	font-size: 18px;
	margin: 0;
	text-align: center;
	text-shadow: none;
}
#showcase-gradespotter a{
	color: #008bc7;
}
/* -------------
-- TechCrunch --
------------- */
#showcase-techcrunch{
	background-color: #0a9600;
	border-top: 3px solid #076600;
	padding: 80px 0 0;
	height: 400px;
    overflow: hidden;
}
#showcase-techcrunch .feat img{
	height: auto;
    max-width: 100%;
}
#showcase-techcrunch .info{
	
	padding: 50px 0 0;
}
#showcase-techcrunch p{
	color: #fff;
	font-size: 20px;
	margin: 0 0 50px;
	text-align: center;
	text-shadow: none;
}
#showcase-techcrunch a{
	color: #003300;
}
#showcase-techcrunch .info img{
	display: block;
    margin: 0 auto;
}

/* ========================================================= Articles ===*/
article{
	margin: 30px auto 30px;
	padding: 5px;
	max-width: 700px;
}
article #content{
    padding: 40px 60px 30px;
}
#page{
	background-color: rgba(255, 255, 255, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.2);
	box-shadow: 0 0 20px 5px #1b2024, 0 3px 10px #000000;
	margin: 30px 0;
	padding: 3px;
}
#content{
	background: url("../img/noise.png") repeat scroll 0 0 #f2f2f2;
	border: 1px solid #fff;
	box-shadow:0 0 20px rgba(0,0,0,0.2) inset;
	padding: 30px 20px 20px;
}
#x:after {
    
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0.5;
    pointer-events: none;
    position: fixed;
    right: 0;
    top: 0;
}
#content img{
	border-radius: 4px;
	box-shadow: 0 1px 0 rgba(255,255,255,0.9);
	display:block;
	height: auto;
	max-width: 100%;
	margin: 0 auto 20px;
}
article h1{
	text-align: center;
}
article p{
	-moz-hyphens: auto;
    hyphens: auto;
	text-align: justify;
}
.byline{
	color: #808590;
	font-size: 14px;
	margin: 30px 0 -10px;
	text-align: center;
	text-indent: 0;
}
/* ========================================================= Nav ===*/
.contact{
    margin: 0 auto;
	padding: 0;
	width: 425px;
}
.contact li{
    display: inline-block;
	list-style: none;
	margin: 0 0 10px;
	padding: 0;
}
.contact li a{
    padding: 20px;
}
.contact span{
	display: inline-block;
	height: 16px;
	margin: 0 10px 0 0;
	width: 16px;
	vertical-align: middle;
}
#email{background: no-repeat url('../img/contact.png') 0 0;}
#plus{background: no-repeat url('../img/contact.png') 0 -16px;}
#forrst{background: no-repeat url('../img/contact.png') 0 -32px;}
#dribbble{background: no-repeat url('../img/contact.png') 0 -48px;}
#twitter{background: no-repeat url('../img/contact.png') 0 -64px;}
#aim{background: no-repeat url('../img/contact.png') 0 -80px;}
/* ========================================================= About ===*/
#aboutme img{
    box-shadow: 0 0 0 5px #FFFFFF, 0 0 0 6px #CCCCCC, 0 13px 8px -7px rgba(0,0,0,0.9);
    border-radius:0;
    float: left;
    margin-top: 6px;
    margin-bottom: 20px;
    max-width: 460px;
    width: 100%;
}
#history img{
    box-shadow: 0 0 0 5px #FFFFFF, 0 0 0 6px #CCCCCC, 0 13px 8px -7px rgba(0,0,0,0.9);
    border-radius:0;
	float: right;
	margin-left: 30px;
    max-width: 300px;
    width: 100%;
}
/* ========================================================= Resume ===*/
#resume-intro img{
    box-shadow: 0 0 0 5px #FFFFFF, 0 0 0 6px #CCCCCC, 0 13px 8px -7px rgba(0,0,0,0.9);
    border-radius:0;
    float: left;
    margin: 0 30px 30px 0;
    max-width: 459px;
    width: 100%;
}
#resume-intro h1{
    display:inline-block;
    margin:20px 0 0;
}
#resume-intro h2{
    color:#666;
    font-size:20px;
    margin:0 0 20px;
}
#resume h2{
    font-size: 26px;
    margin: 0;
}
#resume .company{
    float:left;
    margin: 0 40px 0 0;
    text-align:right;
    max-width:295px;
    width: 100%;
}
#resume .company h2{
    font-size:18px;
}
#resume .company p{
    font-size: 15px;
    margin:0;
}
#resume .details{
    float:left;
    margin:0 0 30px;
    max-width:555px;
    width: 100%;
}
#resume .details p{
    color:#30353D;
    margin:0;
}
#resume p{
    color: #aaa;
    margin: 0 0 20px;
}
#resume ul{
    list-style:none;
    margin: 0;
    padding:0;
}
#resume li{
    color: #666;
    font-size:15px;
    margin:0 0 10px;
}
/* ========================================================= Projects ===*/
#current-project{
    margin: 0 0 30px;
}
#current-project img{
    box-shadow: none;
    float: left;
    margin: 0;
    max-width: 463px;
    width: 100%;
}
#current-project h2{
	font-size: 40px;
	margin:0 0 0;
    padding: 150px 0 0;
}
#current-project .btn{

}
#logos{
    list-style: none;
    margin: 0;
    padding: 0;
}
#logos li, #logos li a{
    background-image: url(/projects/assets/logos/sprite.png);
    background-position: no-repeat;
    border-radius: 4px;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    box-shadow: 0 9px 8px -10px rgba(0,0,0,0.8), 0 0 0 1px #ccc;
    display: block;
    float: left;
    height: 214px;
    margin: 0 15px 30px;
    -webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
	-ms-transition:all 0.3s ease-in-out;	
	transition:all 0.3s ease-in-out;
    width: 286px; 
}
#logos li a{
    margin: 0;
}
#gradespotter {background-position: 0 -4934px}
#gradespotter:hover {background-position: 0 -4719px}
#in {background-position: 0 -4076px}
#in:hover {background-position: 0 -3861px}
#mshanken {background-position: 0 -1931px}
#mshanken:hover {background-position: 0 -1717px}
#hackerunion {background-position: 0 -4505px}
#hackerunion:hover {background-position: 0 -4290px}
#pixeloil {background-position: 0 -1502px}
#pixeloil:hover {background-position: 0 -1287px}
#whoworksat {background-position: 0 -215px}
#whoworksat:hover {background-position: 0 0}
#adsperince {background-position: 0 -5792px}
#adsperince:hover {background-position: 0 -5577px}
#todaywegive {background-position: 0 -1073px}
#todaywegive:hover {background-position: 0 -858px}
#kqwebshow {background-position: 0 -3218px}
#kqwebshow:hover {background-position: 0 -3003px}
#usemycrm {background-position: 0 -644px}
#usemycrm:hover {background-position: 0 -429px}
#lemonadestand {background-position: 0 -2789px}
#lemonadestand:hover {background-position: 0 -2574px}
#joekennedy {background-position: 0 -3647px}
#joekennedy:hover {background-position: 0 -3432px}
#dbookshelf {background-position: 0 -5363px}
#dbookshelf:hover {background-position: 0 -5148px}
#lux {background-position: 0 -2360px}
#lux:hover {background-position: 0 -2145px}
#kg41 {background-position: 0 -6221px}
#kg41:hover {background-position: 0 -6006px}

.video{
	margin:0 0 20px;
}
#featured-project{
	
}
/* ========================================================= Article ===*/
#article-list{
	margin: 0;
	padding: 0;
}
#article-list li{
	background: url("../img/noise.png") repeat scroll 0 0 #f2f2f2;
	border: 1px solid #fff;
	box-shadow:0 0 20px rgba(0,0,0,0.2) inset;
    list-style: none;
    margin: 0 0 5px;
    padding: 20px;
}
#article-list li:last-child{
	margin: 0;
}
#article-list p{
	margin: 0 0 10px;
}
#article-list p.byline{
	margin: 0;
}
code, pre {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 0 3px 2px;
    font-size: 14px;
    font-family:Consolas, Monaco, Andale Mono, Courier New, monospace;
    text-shadow:none;
}
code {
    background-color: #fee9cc;
    color: rgba(0, 0, 0, 0.75);
    padding: 1px 3px;
}
pre {
    background-color:#0b0f22;
    border:3px solid #3b3f4e;
    display: block;
    margin-bottom: 20px;
    margin-left: -100px;
    padding: 20px ;
    line-height: 1.66;
    overflow: auto;
    width: 860px;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}
pre ol li{
    font-size: 13px;
    font-family:Consolas, Monaco, Andale Mono, Courier New, monospace;
    text-shadow:none;
}
object{
    display:block;
    margin:0 0 20px;
}
/* ========================================================= Footer ===*/
footer{
    background-color: #1a1f25;
    border-top: 3px solid #000;
    padding: 80px 0 70px;
}
footer h1{
	color: #fff;
	display: inline-block;
	font-family: 'Outage';
	font-size: 34px;
	margin: 0;
	text-shadow: none;
}
footer p{
	color: #ccc;
	display: inline-block;
	margin: 0;
	text-shadow: none;
}
footer a{

}
#subnav{
	border: 1px solid #2d3540;
	border-radius: 4px;
	list-style: none;
	margin: 0;
	padding: 0;
}
#subnav li{
	background: #242b33;
/*
	background: -moz-linear-gradient(top,  #242b33 0%, #191e24 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#242b33), color-stop(100%,#191e24));
	background: -webkit-linear-gradient(top,  #242b33 0%,#191e24 100%);
	background: -o-linear-gradient(top,  #242b33 0%,#191e24 100%);
	background: -ms-linear-gradient(top,  #242b33 0%,#191e24 100%);
	background: linear-gradient(top,  #242b33 0%,#191e24 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#242b33', endColorstr='#191e24',GradientType=0 );
*/
	border-bottom: 1px solid #2b343d;
}
#subnav li:first-child{
	border-radius: 4px 4px 0 0;
}
#subnav li:last-child{
	border-bottom: none;
	border-radius: 0 0 4px 4px;
}
#subnav a{
	color: #ccc;
	display: block;
    padding: 6px 20px 4px;
	text-shadow: none;
}
#subnav a:hover{
	background-color: #343f4a;
}
/* ========================================================= Utility ===*/
.btn{
    background-color: #0eaea2;
    border-radius: 4px;
    color: #fff;
    padding: 5px 10px;
    text-shadow: none;
}
.btn:hover{
    background-color:#10ccbc;
    color:#fff;
}
.left {
    float: left;
    margin: 0 30px 0 0;
}
hr {
    background: none repeat scroll 0 0 #E5E5E5;
    border: medium none;
    box-shadow: 0 1px 0 #fafafa;
    clear: both;
    height: 1px;
    margin: 0 0 20px;
    width: 100%;
}
blockquote {
    padding: 0 0 0 15px;
    margin: 0 0 20px;
    border-left: 5px solid #EEE;
}
blockquote p {
    margin-bottom: 0;
    font-size: 15px;
    line-height: 1.4;
}
blockquote small {
    display: block;
    color: #999;
}
.sarcasm {
	display:inline-block;
	-moz-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(15deg, 0deg);
	-webkit-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(15deg, 0deg);
	-o-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(15deg, 0deg);
	-ms-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(15deg, 0deg);
	transform: scale(1) rotate(0deg) translate(0px, 0px) skew(15deg, 0deg);
}
/* ========================================================= Structure ===*/
.container {
	margin: 0 auto;
}
.container:before, .container:after, .content:before, .content:after { content: ""; display: table; }
.container:after, .content:after { clear: both; }
.container, .content { zoom: 1; }

.g1,.g2,.g3,.g4,.g5,.g6,.g7,.g8,.g9,.g10,.g11,.g12 {
	float: left;
	margin: 10px;
	width: 100%;
}

/* ----------
 -- 960px --
---------- */
	.container {width: 960px}
	.g1{max-width: 60px}
	.g2{max-width: 140px}
	.g3{max-width: 220px}
	.g4{max-width: 300px}
	.g5{max-width: 380px}
	.g6{max-width: 460px}
	.g7{max-width: 540px}
	.g8{max-width: 620px}
	.g9{max-width: 700px}
	.g10{max-width: 780px}
	.g11{max-width: 860px}
	.g12{max-width: 940px}
	
	#aboutme img{
		margin-right: 30px;
	}
/* ---------
 -- 768px --
--------- */
@media screen and (min-width: 768px) and (max-width: 1023px){
	.container {width: 768px}
	.g1{max-width: 44px}
	.g2{max-width: 108px}
	.g3{max-width: 172px}
	.g4{max-width: 236px}
	.g5{max-width: 300px}
	.g6{max-width: 364px}
	.g7{max-width: 428px}
	.g8{max-width: 492px}
	.g9{max-width: 556px}
	.g10{max-width: 620px}
	.g11{max-width: 684px}
	.g12{max-width: 748px}
	
	#intro p{
		font-size: 17px;
	}
	pre {
		margin-left: 0; 
		width: auto;
	}
}
/* ---------
 -- 480px --
--------- */
@media screen and (min-width: 480px) and (max-width: 767px) {
	.container {width: 480px}
	.g1{max-width: 60px}
	.g2{max-width: 100px}
	.g3{max-width: 220px}
	.g4{max-width: 460px}
	.g5{max-width: 460px}
	.g6{max-width: 460px}
	.g7{max-width: 460px}
	.g8{max-width: 460px}
	.g9{max-width: 460px}
	.g10{max-width: 460px}
	.g11{max-width: 460px}
	.g12{max-width: 460px}
	
	header h1 {
		font-size: 37px;
	}
	nav{
		float: none;
	}
	nav a{
		padding: 9px 33px 9px 34px;
	}
	#intro p{
		font-size: 16px;
	}
	#history img{
    	float: none;
	    margin: 0 auto 30px;
    }
    #intro p{
		font-size: 17px;
	}
	pre {
		margin-left: 0; 
		width: auto;
	}
}
/* ---------
 -- 320px --
--------- */
@media screen and (min-width: 320px) and (max-width: 479px) {
	.container {width: 320px}
	.g1{max-width: 44px}
	.g2{max-width: 86px}
	.g3{max-width: 140px}
	.g4{max-width: 300px}
	.g5{max-width: 300px}
	.g6{max-width: 300px}
	.g7{max-width: 300px}
	.g8{max-width: 300px}
	.g9{max-width: 300px}
	.g10{max-width: 300px}
	.g11{max-width: 300px}
	.g12{max-width: 300px}
	
	
	nav a {
		padding: 9px 13px 9px 14px;
	}
	#intro p{
		font-size: 17px;
	}
	pre {
		margin-left: 0; 
		width: auto;
	}

}
/* ========================================================= Animation ===*/
@-webkit-keyframes bounce {
	0% { opacity: 0; -moz-transform: translateY(100px); }
	60% { opacity: 1; -moz-transform: translateY(-30px); }
	80% { -moz-transform: translateY(10px); }
	100% { -moz-transform: translateY(0); }
}

@-moz-keyframes bounce {
	0% { opacity: 0; -moz-transform: translateY(-3000px); }
	60% { opacity: 1; -moz-transform: translateY(10px); }
	80% { -moz-transform: translateY(-5px); }
	100% { -moz-transform: translateY(0); }
}

@-ms-keyframes bounce {
	0% { opacity: 0; -moz-transform: translateY(3000px); }
	60% { opacity: 1; -moz-transform: translateY(-30px); }
	80% { -moz-transform: translateY(10px); }
	100% { -moz-transform: translateY(0); }
}

@-o-keyframes bounce {
	0% { opacity: 0; -moz-transform: translateY(3000px); }
	60% { opacity: 1; -moz-transform: translateY(-30px); }
	80% { -moz-transform: translateY(10px); }
	100% { -moz-transform: translateY(0); }
}

@keyframes bounce {
	0% { opacity: 0; -moz-transform: translateY(3000px); }
	60% { opacity: 1; -moz-transform: translateY(-30px); }
	80% { -moz-transform: translateY(10px); }
	100% { -moz-transform: translateY(0); }
}
