<div class="container">

  <div class="cta">
    <grid columns=8>
      <c span=3-6 span-s=row>
        <span class="eyebrow">Get in touch</span>
        <h2>Let’s work together</h2>
        <p>If you have a digital or physical product idea in mind or you need some advice about design or user experience, feel free to reach out. I look forward to chatting soon.</p>
        <a href="mailto:kennedy@byfreeagency.com" class="btn btn-primary">kennedy@byfreeagency.com</a>
      </c>
      </grid>
  </div><!--/cta-->

</div><!--/container-->
