<div class="container">

  <div class="cta">
    <grid columns=8>
      <c span=3-6 span-s=row>
        <span class="eyebrow">Get in touch</span>
        <h2>Let’s work together</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. sed do eiusmod tempor incididunt ut labore.</p>
        <a href="mailto:kennedysgarage@gmail.com" class="btn btn-primary">kennedysgarage@gmail.com</a>
      </c>
      </grid>
  </div><!--/cta-->

</div><!--/container-->
