<div class="container">
  <section id="status" class="clearfix">
    <!-- <p><i class="ss-icon ss-social-regular">&#xF611;</i> Birds of a feather flock together. Follow me on Twitter at <a href="https://twitter.com/intent/user?screen_name=KennedysGarage">@KennedysGarage</a>.</p> -->
    <!-- <p><i class="ss-icon ss-social-regular">&#x2709;</i> Sign up for my amazing <a href="/newsletter/">Newsletter</a>!</p> -->
    <p>You should <a href="/newsletter/">sign up</a> for my amazing <i class="ss-icon ss-social-regular">&#x2709;</i> and follow me on <i class="ss-icon ss-social-regular">&#xF611;</i> at <a href="https://twitter.com/intent/user?screen_name=KennedysGarage">@KennedysGarage</a>!</p>
  </section>
</div><!--/container-->

<footer>
  <div class="container">
		<ul id="social">
			<li><a href="https://www.statuschart.com/kennedysgarage">Status Chart</a></li>
			<li><a href="http://twitter.com/kennedysgarage">Twitter</a></li>
			<li><a href="http://profiles.google.com/kennedysgarage">Google +</a></li>
			<li><a href="http://dribbble.com/kennedysgarage">Dribbble</a></li>
			<li><a href="https://github.com/kennedysgarage">GitHub</a></li>
			<li><a href="/newsletter/">Newsletter</a></li>
		</ul>
  </div><!--/container-->
</footer>

<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
{% javascript script %}
</body>
</html>
