<footer>
  <div id="foot">
    <div class="container">
      <div class="row last">
        <div class="col-9">
          {% image kennedy.jpg %}
          <div class="copy">
              <p class="last">Kennedy is a UX strategist and Mobile UI Designer in NYC. When not working he enjoys spending time with his wife, surfing, motorcycles, eating cookies, and coffee.</p>
          </div><!--/copy-->
        </div><!--/col-->
        <div class="col-3">
          <h4>Be social</h4>
          <ul id="social">
            <li><a href="https://workingnotworking.com/kennedysgarage">{% image wnw.svg %}</a></li>
            <li><a href="https://linkedin.com/in/kennedysgarage">{% image linkedin.svg %}</a></li>
            <li><a href="https://instagram.com/kennedysgarage">{% image instagram.svg %}</a></li>
            <li><a href="http://twitter.com/kennedysgarage">{% image twitter.svg %}</a></li>
            <li><a href="http://dribbble.com/kennedysgarage">{% image dribbble.svg %}</a></li>
            <li><a href="https://github.com/kennedysgarage">{% image github.svg %}</a></li>
          </ul>
        </div><!--/col-->
      </div><!--/row-->
    </div><!--/container-->
  </div><!--/-->
</footer>

<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
{% javascript script %}
</body>
</html>
