<footer>
  <div id="foot">
    <div class="container">
      <div class="row last">
        <div class="col-9">
          {% image home/intro.png %}
          <div class="copy">
              <p class="last">Kennedy is a freelance UX strategist and Mobile UI Designer spending most of his time in NYC &amp; SF. When not working he enjoys spending time with his wife, surfing, real estate, surfing, and coffee. </p>
          </div><!--/copy-->
        </div><!--/col-->
        <div class="col-3">
          <h4>Be social</h4>
          <ul id="social">
            <li><a href="http://twitter.com/kennedysgarage"><i class="ss-icon ss-social-regular">&#xF611;</i></a></li>
            <li><a href="http://dribbble.com/kennedysgarage"><i class="ss-icon ss-social-regular">&#xF660;</i></a></li>
            <li><a href="https://instagram.com/kennedysgarage"><i class="ss-icon ss-social-regular">&#xF641;</i></a></li>
            <li><a href="https://github.com/kennedysgarage"><i class="ss-icon ss-social-regular">&#xF671;</i></a></li>
            <li><a href="https://linkedin.com/in/kennedysgarage"><i class="ss-icon ss-social-regular">&#xF612;</i></a></li>
          </ul>
        </div><!--/col-->
      </div><!--/row-->
    </div><!--/container-->
  </div><!--/-->
</footer>

<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
{% javascript script %}
</body>
</html>
