{% if page.url == "/projects/" %}
  <header class="simple clearfix">
  {% else %}
  <header class="clearfix">
{% endif %}
  <div class="container">
    <h1><a href="/">
      <svg version="1.1" id="Layer_1" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns"
      	 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="520px" height="450px"
      	 viewBox="0 0 520 450" enable-background="new 0 0 520 450" xml:space="preserve">
      <path fill="#C7A04A" d="M260,0L0.192,450h519.615L260,0z M203.25,399.66L146,300.5l57.25-99.16h114.5L375,300.5l-57.25,99.16H203.25
      	z"/>
      </svg>

    </a></h1>
    <a href="" class="menu"><i class="ss-icon ss-standard">&#x2026;</i></a>
    <nav>
      <ul>
        {% for link in site.navigation %}
          {% assign current = nil %}
          {% if page.url == link.url or page.layout == link.layout %}
              {% assign current = 'current' %}
          {% endif %}
          <li class="{{ current }}"><a href="{{ link.url }}">{{ link.text }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </div><!--/container-->
</header>
