{% assign current = page.url | downcase | split: '/' %}
<header>
  <div class="container">
    <a href="/" class="logo">{% asset logo-outline.svg %}</a>
    <nav>
      <ul>
        <li><a href="/about/" {% if current[1] == 'about' %}class='current'{% endif %}>About</a></li>
        <li><a href="/work/" {% if current[1] == 'work' %}class='current'{% endif %}>Work</a></li>
        <!-- <li><a href="https://medium.com/kennedysgarage">Thoughts</a></li> -->
        <li><a href="/subscribe/" {% if current[1] == 'subscribe' %}class='current'{% endif %}>Subscribe</a></li>
      </ul>
    </nav>
  </div><!--/container-->
</header>
