{% if page.url == "/projects/" %}
  <header class="simple clearfix">
  {% else %}
  <header class="clearfix">
{% endif %}
  <div class="container">
    <h1><a href="/">{% image logo.svg %}</a></h1>
    <a href="" class="menu"><i class="ss-icon ss-standard">&#x2026;</i></a>
    <nav>
      <ul>
        {% for link in site.navigation %}
          {% assign current = nil %}
          {% if page.url == link.url or page.layout == link.layout %}
              {% assign current = 'current' %}
          {% endif %}
          <li class="{{ current }}"><a href="{{ link.url }}">{{ link.text }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </div><!--/container-->
</header>
