@import "reset.less";
@import "typography.less";
@import "structure.less";
@import "animations.less";
@import "utilities.less";
@import "prettify.less";
/* ========================================================= Header ===*/
html,body{
	background-color: #f3f6f8;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	height: 100%;
	width: 100%;
}
body{
	background: url("/img/web.png") no-repeat scroll center top #F3F6F8;
}
header{
	background: #f04043;
	background: -moz-linear-gradient(top,  #f04043 0%, #b23032 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f04043), color-stop(100%,#b23032));
	background: -webkit-linear-gradient(top,  #f04043 0%,#b23032 100%);
	background: -o-linear-gradient(top,  #f04043 0%,#b23032 100%);
	background: -ms-linear-gradient(top,  #f04043 0%,#b23032 100%);
	background: linear-gradient(top,  #f04043 0%,#b23032 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f04043', endColorstr='#b23032',GradientType=0 );
	border-bottom: 1px solid #631b1c;
	box-shadow: 0 1px 0 rgba(255,255,255,0.4) inset, 0 1px 3px rgba(0,0,0,0.5);
	margin: 0 0 40px;
    position: relative;
    z-index: 5;
}
header h1{
    display: inline;
	font-family: 'Outage';
	font-size: 22px;
	margin: 0;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.4);
	vertical-align: middle;
}
header h1 a, header h1 a:hover{
	color: #fff;
}
header img{
	background: #e53e41;
	background: -moz-linear-gradient(top,  #e53e41 0%, #a82d2f 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e53e41), color-stop(100%,#a82d2f));
	background: -webkit-linear-gradient(top,  #e53e41 0%,#a82d2f 100%);
	background: -o-linear-gradient(top,  #e53e41 0%,#a82d2f 100%);
	background: -ms-linear-gradient(top,  #e53e41 0%,#a82d2f 100%);
	background: linear-gradient(top,  #e53e41 0%,#a82d2f 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e53e41', endColorstr='#a82d2f',GradientType=0 );
	border: 1px solid #631b1c;
	border-radius: 4px;
	box-shadow: 0 1px 0 rgba(255,255,255,0.3) inset, 0 1px 0 rgba(255,255,255,0.3);
	margin: 0 10px 0 0;
	padding: 6px;
}
/* -------------
-- Navigation --
------------- */
nav{
	background: #e53e41;
	background: -moz-linear-gradient(top,  #e53e41 0%, #a82d2f 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e53e41), color-stop(100%,#a82d2f));
	background: -webkit-linear-gradient(top,  #e53e41 0%,#a82d2f 100%);
	background: -o-linear-gradient(top,  #e53e41 0%,#a82d2f 100%);
	background: -ms-linear-gradient(top,  #e53e41 0%,#a82d2f 100%);
	background: linear-gradient(top,  #e53e41 0%,#a82d2f 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e53e41', endColorstr='#a82d2f',GradientType=0 );
	border: 1px solid #631b1c;
	border-radius: 4px;
	box-shadow: 0 1px 0 rgba(255,255,255,0.3) inset, 0 1px 0 rgba(255,255,255,0.3);
    float: right;
    margin: 0;
    text-align: right;
}
nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
nav li{
    display: inline-block;
    padding: 0;
}
nav a{
	border-right: 1px solid #c76869;
	box-shadow: 1px 0 0 #7e2223;
    color: #f7f7f7;
    display: block;
	font-size: 12px;
	padding: 9px 20px;
	text-align: center;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
	text-transform: lowercase;
}
nav a:hover{
	color: #fff;
}
nav li:last-child a{
	border: none;
	box-shadow: none;
}
/* ========================================================= Home ===*/
#intro{
	background-color: #f3f6f8;
	text-align: center;
}
#intro span {
    background: url('/img/glare.png') no-repeat scroll 0 0 transparent;
    height: 133px;
    position: absolute;
    width: 134px;
}
#intro img{
	border-radius: 4px;
	box-shadow: 0 -1px 0 rgba(255,255,255,0.5), 0 1px 0 rgba(0,0,0,0.2);
	height: auto;
	margin: 0 auto;
	max-width: 100%;
}
#intro h2{
	font-size: 44px;
	margin: 0;
	padding: 63px 0 0;
}
#intro p{
	font-size: 19px;
}
/* ========================================================= Articles ===*/
article{
	margin: 30px auto 30px;
	padding: 5px;
	max-width: 700px;
}
article h1{
	text-align: center;
}
article p{
	-moz-hyphens: auto;
    hyphens: auto;
	text-align: justify;
}
.byline{
	color: #808590;
	font-size: 14px;
	margin: 30px 0 -10px;
	text-align: center;
	text-indent: 0;
}
/* ========================================================= Contact ===*/
.contact{
    margin: 0 auto;
	padding: 0;
	width: 425px;
}
.contact li{
    display: inline-block;
	list-style: none;
	margin: 0 0 10px;
	padding: 0;
}
.contact li a{
    padding: 20px;
}
.contact span{
	display: inline-block;
	height: 16px;
	margin: 0 10px 0 0;
	vertical-align: middle;
	width: 16px;
}
/* ========================================================= Resume ===*/
#resume h2{
    margin: 70px 0 10px;
}
#resume ul{
    list-style:none;
    margin: 0;
    padding:0;
}
#resume li{
    color: #666;
    font-size: 15px;
    margin: 0 0 10px;
}
#resume .g4{
    text-align: right;
}
#resume .g4 h3{
    font-size: 18px;
}
#resume .g4 p{
    font-size: 15px;
    margin: 0;
}
#resume .g8 p{
    color: #30353D;
    margin: 0 0 3px;
}
/* ========================================================= Status ===*/
.note{
	color: #bbb;
	font-size: 12px;
	font-style: italic;
	margin: 0 0 5px;
	text-align: right;
}
/* ----------
-- Filters --
---------- */
#filters{

}
#filters ul{
	list-style: none;
	margin: 10px 0;
	padding: 0;
}
#filters li{
	background: #394045;
	background: -moz-linear-gradient(top,  #394045 0%, #30363a 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#394045), color-stop(100%,#30363a));
	background: -webkit-linear-gradient(top,  #394045 0%,#30363a 100%);
	background: -o-linear-gradient(top,  #394045 0%,#30363a 100%);
	background: -ms-linear-gradient(top,  #394045 0%,#30363a 100%);
	background: linear-gradient(to bottom,  #394045 0%,#30363a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#394045', endColorstr='#30363a',GradientType=0 );
	border: 1px solid #111314;
	box-shadow: 0 1px 3px rgba(0,0,0,0.4), 0 1px 0 rgba(255,255,255,0.2) inset;
	border-radius: 4px;
	display: inline-block;
	margin: 0 10px 0 0;
	padding: 0;
}
#filters strong{
	color: #EEEEEE;
    display: inline-block;
    font-weight: normal;
    padding: 9px 25px;
    text-shadow: none;
    vertical-align: middle;
}
#filters a{
	color: #eee;
	display: block;
    padding: 5px 10px 5px 5px;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.4);
}
#filters img{
	margin: 0 5px 0 0;
}
#filters span{
	font-size: 13px;
	vertical-align: middle;
}
/* ----------
-- Results --
---------- */
#status hr{
	margin: 0;
}
.status{
	box-shadow: 0 1px 3px rgba(0,0,0,0.4);
	border-radius: 4px;
	list-style: none;
	margin: 0 0 10px;
	padding:0;
}
.status li{
	background-image: url(/img/noise.png);
	background-color: #30363a;
	border-bottom: 1px solid #282d30;
	border-top: 1px solid #3b4347;
	color: #eee;
	margin: 0;
	padding:10px 8px;
	text-shadow:none;
}
.status li:first-child{
	border-radius: 4px 4px 0 0;
}
.status li:last-child{
	border-radius: 0 0 4px 4px;
}
.status span{
	background-color: #282d30;
	border: 1px solid #1e2124;
	border-radius: 4px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.3) inset, 0 1px 0 rgba(255,255,255,0.1);
	display: inline-block;
	margin: 0 5px;
	padding: 4px 10px;
	text-shadow:0 -1px 0 rgba(0,0,0,0.3);
	vertical-align: top;
}
.status .type{
	border: none;
	border-radius: 0;
	box-shadow: none;
	display: inline-block;
    height: 36px;
    padding: 0;
    vertical-align: top;
    width: 36px;
}
.status .name{
	width: 554px;
}
.status .started{
	height: 25px;
	width: 43px;
}
.status .finished{
	height: 25px;
	width: 43px;
}
.status .finished small{
	display: inline-block;
    font-size: 12px;
    padding: 0 0 2px;
    vertical-align: text-bottom;
}
.status .condition{
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	width: 110px;
}
.status .details{

}
/* ---------
-- Status --
--------- */
.status .scheduled{
	background-color: #00a651;
}
.status .in-progress{
	background-color: #0079a6;
}
.status .stalled{
	background-color: #d9ce00;
}
.status .completed{
	background-color: #a62f00;
}
/* -------
-- Type --
------- */
.status .hackathon .type{
	background: url('/img/status/hackathon.png') center center no-repeat;
}
.status .project .type{
	background: url('/img/status/project.png') center center no-repeat;
}
.status .speaking .type{
	background: url('/img/status/speaking.png') center center no-repeat;
}
.status .event .type{
	background: url('/img/status/event.png') center center no-repeat;
}
.status .honor .type{
	background: url('/img/status/honor.png') center center no-repeat;
}
.status .charity .type{
	background: url('/img/status/charity.png') center center no-repeat;
}
/* ========================================================= Projects ===*/
#logos img{
	border-radius: 4px;
	box-shadow: 0 -1px 0 rgba(255,255,255,0.9), 0 1px 0 rgba(0,0,0,0.2);
	display: block;
	height: auto;
	max-width: 100%;
}
.video{
	margin: 0 0 20px;
}
.browser{
	border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    height: auto;
    max-width: 100%;
}
/* ========================================================= Article ===*/
#article-list{
	margin: 0;
	padding: 0;
}
#article-list li{
	border-bottom: 1px solid #ddd;
	box-shadow: 0 1px 0 #fff;
    list-style: none;
    margin: 0 0 5px;
    padding: 20px;
}
#article-list li:last-child{
	margin: 0;
}
#article-list p{
	margin: 0 0 10px;
}
#article-list p.byline{
	margin: 0;
}
article img{
	height: auto;
	max-width: 100%;
}
code, pre {
    border-radius: 3px;
    padding: 0 3px 2px;
    font-size: 14px;
    font-family: Consolas, Monaco, Andale Mono, Courier New, monospace;
    text-shadow: none;
}
code {
    background-color: #fee9cc;
    color: rgba(0, 0, 0, 0.75);
    padding: 1px 3px;
}
pre {
    background-color: #0b0f22;
    border: 3px solid #3b3f4e;
    display: block;
    margin-bottom: 20px;
    margin-left: -100px;
    padding: 20px ;
    line-height: 1.66;
    overflow: auto;
    width: 860px;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}
pre ol li{
    font-size: 13px;
    font-family: Consolas, Monaco, Andale Mono, Courier New, monospace;
    text-shadow: none;
}
object{
    display: block;
    margin: 0 0 20px;
}
/* ========================================================= Footer ===*/
footer{
    background-color: #1C2933;
    border-top: 3px solid #121B21;
    margin: 40px 0 0;
    padding: 80px 0 70px;
}
footer h1{
	color: #fff;
	display: inline-block;
	font-family: 'Outage';
	font-size: 34px;
	margin: 0;
	text-shadow: none;
}
footer p{
	color: #ccc;
	display: inline-block;
	margin: 0;
	text-shadow: none;
}
/* ---------
-- SubNav --
--------- */
#subnav{
	border: 1px solid #2d3540;
	border-radius: 4px;
	list-style: none;
	margin: 0;
	padding: 0;
}
#subnav li{
	background: #242b33;
	border-bottom: 1px solid #2b343d;
}
#subnav li:first-child{
	border-radius: 4px 4px 0 0;
}
#subnav li:last-child{
	border-bottom: none;
	border-radius: 0 0 4px 4px;
}
#subnav a{
	color: #ccc;
	display: block;
    padding: 6px 20px 4px;
	text-shadow: none;
}
#subnav a:hover{
	background-color: #343f4a;
}
/* ========================================================= Structure ===*/
/* ---------
 -- 768px --
--------- */
@media screen and (min-width: 768px) and (max-width: 1023px){
	#intro h2{
		padding: 40px 0 0;
	}
	#intro p{
		font-size: 16px;
	}
	pre {
		margin-left: 0; 
		width: auto;
	}
}
/* ---------
 -- 480px --
--------- */
@media screen and (min-width: 480px) and (max-width: 767px) {
	header h1 {
		font-size: 37px;
	}
	nav{
		float: none;
	}
	nav a{
		padding: 9px 53px;
	}
	#intro h2{
		padding: 0;
	}
	#intro p{
		font-size: 15px;
	}
	#history img{
    	float: none;
	    margin: 0 auto 30px;
    }
	pre {
		margin-left: 0; 
		width: auto;
	}
}
/* ---------
 -- 320px --
--------- */
@media screen and (min-width: 320px) and (max-width: 479px) {
	#intro h2{
		padding: 0;
	}
	nav a {
		padding: 9px 28px;
	}
	pre {
		margin-left: 0; 
		width: auto;
	}
}
