/* ========================================================= Typography ===*/
h1{
  color: #313f42;
  font-family: 'ProximaNova', sans-serif;
  font-size: 32px;
  font-weight: 400;
  margin: 0 0 30px;
  text-shadow: 0 1px 1px rgba(255,255,255,0.7);
}
h2{
  color: #313f42;
  font-family: 'ProximaNovaBold', sans-serif;
  font-size: 30px;
  font-weight: 400;
  margin: 0 0 5px;
  padding: 0;
  text-shadow: 0 1px 1px rgba(255,255,255,0.7);
}
h3{
  color: #313f42;
  font-family: 'ProximaNovaBold', sans-serif;
  font-weight: 400;
  font-size: 24px;
  margin: 0 0 5px;
  text-shadow: 0 1px 1px rgba(255,255,255,0.7);
}
h4{
  color: #313f42;
  font-family: 'EB Garamond', serif;
  font-weight: 400;
  font-size: 22px;
  margin: 5px 0;
  text-shadow: 0 1px 1px rgba(255,255,255,0.7);
}
p{
  color: #5e7880;
  font-size: 16px;
  line-height: 1.5;
  margin: 0 0 20px;
  text-shadow: 0 1px 1px #fff;
}
ul{
  margin: 0 0 20px;
}
li{
  color: #5e7880;
  font-family: 'ProximaNova', sans-serif;
  font-size: 17px;
  line-height: 1.5;
  text-shadow: 0 1px 1px rgba(255,255,255,0.7);
}
dt{
  font-weight: bold;
}
dl{
  color: #5e7880;
  font-family: 'ProximaNova', sans-serif;
  font-size: 17px;
  line-height: 1.5;
  margin: 0 0 10px;
  text-shadow: 0 1px 1px rgba(255,255,255,0.7);
}
blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 20px;
  border-left: 5px solid #EEE;
}
blockquote p {
  margin-bottom: 0;
  font-size: 15px;
  line-height: 1.4;
}
blockquote small {
  display: block;
  color: #999;
}
