/* ========================================================= Utility ===*/
.btn{
    background-color: #0eaea2;
    border-radius: 4px;
    color: #fff;
    padding: 5px 10px;
    text-shadow: none;
}
.btn:hover{
    background-color:#10ccbc;
    color:#fff;
}
hr {
    background: none repeat scroll 0 0 #E5E5E5;
    border: medium none;
    box-shadow: 0 1px 0 #fafafa;
    clear: both;
    height: 1px;
    margin: 0 0 20px;
    width: 100%;
}
figure{
	background-color: #fff;
	padding: 10px;
	margin: 0 0 40px;
    box-shadow: 0 0 0 5px #FFFFFF, 0 13px 8px -7px rgba(0, 0, 0, 0.4);
}
figure img{
	height: auto;
	max-width: 100%;
}
figcaption h4{
	font-style: normal;
}
figcaption{
	color: #777;
	font-size: 14px;
	font-style: italic;
}
.sarcasm{
	display: inline-block;
	-moz-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(15deg, 0deg);
	-webkit-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(15deg, 0deg);
	-o-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(15deg, 0deg);
	-ms-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(15deg, 0deg);
	transform: scale(1) rotate(0deg) translate(0px, 0px) skew(15deg, 0deg);
}