/* ========================================================= Typography ===*/
// Type Scale: 5 7 9 12 16 21 28 37 50 83 111
h1, h2, h3, h4 {
  color: #343E3D;
  font-family: 'Effra Medium', sans-serif;
  margin: 1.414em 0 0.5em;
  font-weight: normal;
  line-height: 1.2;
}
h1{
  font-size: 50px;
  margin: 0 0 30px;
}
h2{
  color: #343E3D;
  font-size: 37px;
  font-weight: 400;
  margin: 0 0 5px;
  padding: 0;
}
h3{
  // border-bottom: 3px solid #b6b6bf;
  color: #343E3D;
  display: block;
  font-weight: 400;
  font-size: 28px;
  margin: 0 0 5px;
  margin: 1em 0 0.4em;
  margin: 0 0 0.4em;
}
h4{
  color: #4C4C4C;
  font-family: 'Effra Heavy', sans-serif;
  font-weight: 400;
  font-size: 21px;
  margin: 5px 0;
}
p{
  color: #5C5C5C;
  color: #768093;
  line-height: 1.5;
  margin: 0 0 1.3em;
}
strong{
  color: #262628;
}
small, .font_small{
  font-size: 0.707em;
}
ul, ol{
  margin: 0 0 1.5em;
}
li{
  color: #5C5C5C;
  color: #768093;
  font-family: 'ProximaNova', sans-serif;
  font-size: 1em;
  line-height: 1.5;
}
dl{
  color: #5C5C5C;
  color: #768093;
  font-family: 'ProximaNova', sans-serif;
  font-size: 1em;
  line-height: 1.5;
  margin: 0 0 10px;
}
dt{
  font-weight: bold;
}
dd{
  color: #5C5C5C;
  font-size: 1em;
  margin: 0 0 10px 10px;
}
