## Removing Extensions
## http://sicanstudios.com/how-to-remove-php-html-htm-extensions-with-htaccess/

DirectoryIndex     labs.php

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]
