/* ========================================================= H5BP ===*/
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
img {
  height: auto;
  max-width: 100%;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}
body {
  margin: 0;
  font-size: 100%;
  line-height: 1.4;
}
body,
button,
input,
select,
textarea {
  font-family: sans-serif;
  color: #222;
}
::-moz-selection {
  background: #ffffa9;
  color: #54545e;
  text-shadow: none;
}
::selection {
  background: #ffffa9;
  color: #54545e;
  text-shadow: none;
}
a {
  color: #2bbad9;
  text-decoration: none;
  -webkit-transition: color 0.25s ease-in, background 0.25s ease-in, opacity 0.25s ease-in;
  -moz-transition: color 0.25s ease-in, background 0.25s ease-in, opacity 0.25s ease-in;
  -ms-transition: color 0.25s ease-in, background 0.25s ease-in, opacity 0.25s ease-in;
  -o-transition: color 0.25s ease-in, background 0.25s ease-in, opacity 0.25s ease-in;
  transition: color 0.25s ease-in, background 0.25s ease-in, opacity 0.25s ease-in;
}
a:hover {
  color: #2ec4e5;
}
a:focus {
  outline: thin dotted;
}
a:active {
  color: #27a8c4;
}
a:hover,
a:active {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-family: 'ProximaNovaBold', sans-serif;
  font-weight: 400;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: "";
  content: none;
}
small {
  font-size: 85%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
ul,
ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}
dd {
  margin: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
label {
  cursor: pointer;
}
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
  *overflow: visible;
}
table button,
table input {
  *overflow: auto;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
input:invalid,
textarea:invalid {
  background-color: #f0dddd;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  vertical-align: top;
}
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}
.ir br {
  display: none;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
.clear {
  clear: both;
}
.hide {
  display: none;
}
.show {
  display: block;
}
/* ========================================================= Print ===*/
@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
@font-face {
  font-family: 'ProximaNova';
  src: url('/font/proximanova/proximanova-regular-webfont.eot');
  src: url('/font/proximanova/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'), url('/font/proximanova/proximanova-regular-webfont.woff') format('woff'), url('/font/proximanova/proximanova-regular-webfont.ttf') format('truetype'), url('/font/proximanova/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNovaLight';
  src: url('/font/proximanova/proximanova-light-webfont.eot');
  src: url('/font/proximanova/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'), url('/font/proximanova/proximanova-light-webfont.woff') format('woff'), url('/font/proximanova/proximanova-light-webfont.ttf') format('truetype'), url('/font/proximanova/proximanova-light-webfont.svg#proxima_nova_ltregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNovaBold';
  src: url('/font/proximanova/proximanova-bold-webfont.eot');
  src: url('/font/proximanova/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'), url('/font/proximanova/proximanova-bold-webfont.woff') format('woff'), url('/font/proximanova/proximanova-bold-webfont.ttf') format('truetype'), url('/font/proximanova/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Outage';
  src: url('/font/outage/outage-webfont.eot');
  src: url('/font/outage/outage-webfont.eot?#iefix') format('embedded-opentype'), url('/font/outage/outage-webfont.woff') format('woff'), url('/font/outage/outage-webfont.ttf') format('truetype'), url('/font/outage/outage-webfont.svg#OutageRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'QuicksandLight';
  src: url('/font/quicksand/Quicksand_Light-webfont.eot');
  src: url('/font/quicksand/Quicksand_Light-webfont.eot?#iefix') format('embedded-opentype'), url('/font/quicksand/Quicksand_Light-webfont.woff') format('woff'), url('/font/quicksand/Quicksand_Light-webfont.ttf') format('truetype'), url('/font/quicksand/Quicksand_Light-webfont.svg#QuicksandLight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BitstreamVeraSansRoman';
  src: url('/font/bitstream/Vera-webfont.eot');
  src: url('/font/bitstream/Vera-webfont?#iefix') format('embedded-opentype'), url('/font/bitstream/Vera-webfont.woff') format('woff'), url('/font/bitstream/Vera-webfont.ttf') format('truetype'), url('/font/bitstream/Vera-webfont.svg#BitstreamVeraSansRoman') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BitstreamVeraSansBold';
  src: url('/font/bitstream/Vera-Bold-webfont.eot');
  src: url('/font/bitstream/Vera-Bold-webfont?#iefix') format('embedded-opentype'), url('/font/bitstream/Vera-Bold-webfont.woff') format('woff'), url('/font/bitstream/Vera-Bold-webfont.ttf') format('truetype'), url('/font/bitstream/Vera-Bold-webfont.svg#BitstreamVeraSansBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TitilliumText22LThin';
  src: url('/font/titillium/TitilliumText22L001-webfont.eot');
  src: url('/font/titillium/TitilliumText22L001-webfont.eot?#iefix') format('embedded-opentype'), url('/font/titillium/TitilliumText22L001-webfont.woff') format('woff'), url('/font/titillium/TitilliumText22L001-webfont.ttf') format('truetype'), url('/font/titillium/TitilliumText22L001-webfont.svg#TitilliumText22LThin') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TitilliumText22LLight';
  src: url('/font/titillium/TitilliumText22L002-webfont.eot');
  src: url('/font/titillium/TitilliumText22L002-webfont.eot?#iefix') format('embedded-opentype'), url('/font/titillium/TitilliumText22L002-webfont.woff') format('woff'), url('/font/titillium/TitilliumText22L002-webfont.ttf') format('truetype'), url('/font/titillium/TitilliumText22L002-webfont.svg#TitilliumText22LLight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TitilliumText22LRegular';
  src: url('/font/titillium/TitilliumText22L003-webfont.eot');
  src: url('/font/titillium/TitilliumText22L003-webfont.eot?#iefix') format('embedded-opentype'), url('/font/titillium/TitilliumText22L003-webfont.woff') format('woff'), url('/font/titillium/TitilliumText22L003-webfont.ttf') format('truetype'), url('/font/titillium/TitilliumText22L003-webfont.svg#TitilliumText22LRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TitilliumText22LMedium';
  src: url('/font/titillium/TitilliumText22L004-webfont.eot');
  src: url('/font/titillium/TitilliumText22L004-webfont.eot?#iefix') format('embedded-opentype'), url('/font/titillium/TitilliumText22L004-webfont.woff') format('woff'), url('/font/titillium/TitilliumText22L004-webfont.ttf') format('truetype'), url('/font/titillium/TitilliumText22L004-webfont.svg#TitilliumText22LMedium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TitilliumText22LBold';
  src: url('/font/titillium/TitilliumText22L005-webfont.eot');
  src: url('/font/titillium/TitilliumText22L005-webfont.eot?#iefix') format('embedded-opentype'), url('/font/titillium/TitilliumText22L005-webfont.woff') format('woff'), url('/font/titillium/TitilliumText22L005-webfont.ttf') format('truetype'), url('/font/titillium/TitilliumText22L005-webfont.svg#TitilliumText22LBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TitilliumText22LXBold';
  src: url('/font/titillium/TitilliumText22L006-webfont.eot');
  src: url('/font/titillium/TitilliumText22L006-webfont.eot?#iefix') format('embedded-opentype'), url('/font/titillium/TitilliumText22L006-webfont.woff') format('woff'), url('/font/titillium/TitilliumText22L006-webfont.ttf') format('truetype'), url('/font/titillium/TitilliumText22L006-webfont.svg#TitilliumText22LXBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'WisdomScript';
  src: url('/font/wisdomscript/wisdom_script-webfont.eot');
  src: url('/font/wisdomscript/wisdom_script-webfont.eot?#iefix') format('embedded-opentype'), url('/font/wisdomscript/wisdom_script-webfont.woff') format('woff'), url('/font/wisdomscript/wisdom_script-webfont.ttf') format('truetype'), url('/font/wisdomscript/wisdom_script-webfont.svg#wisdom_script_airegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* ========================================================= Typography ===*/
h1 {
  color: #313f42;
  font-family: 'ProximaNova', sans-serif;
  font-size: 32px;
  font-weight: 400;
  margin: 0 0 30px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);
}
h2 {
  color: #313f42;
  font-family: 'ProximaNovaBold', sans-serif;
  font-size: 30px;
  font-weight: 400;
  margin: 0 0 5px;
  padding: 0;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);
}
h3 {
  color: #313f42;
  font-family: 'ProximaNovaBold', sans-serif;
  font-weight: 400;
  font-size: 24px;
  margin: 0 0 5px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);
}
h4 {
  color: #313f42;
  font-family: 'ProximaNovaBold', sans-serif;
  font-weight: 400;
  font-size: 22px;
  margin: 5px 0;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);
}
p {
  color: #344347;
  font-size: 18px;
  line-height: 1.5;
  margin: 0 0 18px;
  text-shadow: 0 1px 1px #fff;
}
ul {
  margin: 0 0 20px;
}
li {
  color: #475b61;
  font-family: 'ProximaNova', sans-serif;
  font-size: 17px;
  line-height: 1.5;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);
}
dl {
  color: #475b61;
  font-family: 'ProximaNova', sans-serif;
  font-size: 17px;
  line-height: 1.5;
  margin: 0 0 10px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);
}
dt {
  font-weight: bold;
}
dd {
  color: #999;
  font-size: 15px;
  margin: 0 0 10px 10px;
}
blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 20px;
  border-left: 5px solid #EEE;
}
blockquote p {
  margin-bottom: 0;
  font-size: 15px;
  line-height: 1.4;
}
blockquote small {
  display: block;
  color: #999;
}
.subtitle {
  border-top: 1px solid #ccc;
  float: left;
  margin: 0 0 20px;
  padding: 40px 1em 0;
  width: 100%;
}
/* ========================================================= Structure ===*/
.container {
  margin: 0 auto;
}
.content {
  background-color: #eff1f5;
  border-radius: 7px;
  margin: 0 0 30px;
}
.page-wrap {
  background: url("/img/bg.png") repeat scroll 0 0 #f1f2ee;
  border-radius: 7px 7px 7px 7px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.9) inset;
  margin: 0 10px 20px;
}
.container:before,
.container:after,
.content:before,
.content:after {
  content: "";
  display: table;
}
.container:after,
.content:after {
  clear: both;
}
.container,
.content {
  zoom: 1;
}
.g1,
.g2,
.g3,
.g4 {
  float: left;
  padding: 1em;
  margin-bottom: 1em;
  width: 100%;
}
.g1 {
  max-width: 100%;
}
.g2 {
  max-width: 100%;
}
.g3 {
  max-width: 100%;
}
.g4 {
  max-width: 100%;
}
/* ========================================================= Animation ===*/
/* Thanks @_dte for making my life easy! (http://daneden.me/animate/) */
@-webkit-keyframes bounce {
  0% {
    opacity: 0;
    -moz-transform: translateY(100px);
  }
  60% {
    opacity: 1;
    -moz-transform: translateY(-30px);
  }
  80% {
    -moz-transform: translateY(10px);
  }
  100% {
    -moz-transform: translateY(0);
  }
}
@-moz-keyframes bounce {
  0% {
    opacity: 0;
    -moz-transform: translateY(-3000px);
  }
  60% {
    opacity: 1;
    -moz-transform: translateY(10px);
  }
  80% {
    -moz-transform: translateY(-5px);
  }
  100% {
    -moz-transform: translateY(0);
  }
}
@-ms-keyframes bounce {
  0% {
    opacity: 0;
    -moz-transform: translateY(3000px);
  }
  60% {
    opacity: 1;
    -moz-transform: translateY(-30px);
  }
  80% {
    -moz-transform: translateY(10px);
  }
  100% {
    -moz-transform: translateY(0);
  }
}
@-o-keyframes bounce {
  0% {
    opacity: 0;
    -moz-transform: translateY(3000px);
  }
  60% {
    opacity: 1;
    -moz-transform: translateY(-30px);
  }
  80% {
    -moz-transform: translateY(10px);
  }
  100% {
    -moz-transform: translateY(0);
  }
}
@keyframes bounce {
  0% {
    opacity: 0;
    -moz-transform: translateY(3000px);
  }
  60% {
    opacity: 1;
    -moz-transform: translateY(-30px);
  }
  80% {
    -moz-transform: translateY(10px);
  }
  100% {
    -moz-transform: translateY(0);
  }
}
/* ========================================================= Utility ===*/
.btn {
  background-color: #6197e8;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#6197e8), to(#3776e0));
  background-image: -webkit-linear-gradient(top, #6197e8, #3776e0);
  background-image: -moz-linear-gradient(top, #6197e8, #3776e0);
  background-image: -o-linear-gradient(top, #6197e8, #3776e0);
  background-image: -ms-linear-gradient(top, #6197e8, #3776e0);
  background-image: linear-gradient(top, #6197e8, #3776e0);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#6197e8', EndColorStr='#3776e0');
  border: 1px solid #2463c4;
  border-radius: 4px;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1) inset, 0 1px 0px rgba(0, 0, 0, 0.3);
  color: #fff;
  font-size: 18px;
  padding: 8px 14px;
  text-shadow: none;
}
.btn:hover {
  background-color: #10ccbc;
  color: #fff;
}
hr {
  background: none repeat scroll 0 0 #E5E5E5;
  border: medium none;
  box-shadow: 0 1px 0 #fafafa;
  clear: both;
  height: 1px;
  margin: 0 0 20px;
  width: 100%;
}
figure {
  margin: 0 0 40px;
}
figure img {
  height: auto;
  max-width: 100%;
}
figcaption h4 {
  font-style: normal;
}
figcaption {
  color: #777;
  font-size: 14px;
  font-style: italic;
}
.sarcasm {
  display: inline-block;
  -moz-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(15deg, 0deg);
  -webkit-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(15deg, 0deg);
  -o-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(15deg, 0deg);
  -ms-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(15deg, 0deg);
  transform: scale(1) rotate(0deg) translate(0px, 0px) skew(15deg, 0deg);
}
.highlight {
  background-color: #FFC;
}
.fluid-width-video-wrapper {
  margin: 0 0 18px;
}
/* ========================================================= Prettify ===*/
.str {
  color: #080;
}
.kwd {
  color: #86A5D2;
}
.com {
  color: #FF5E00;
}
.typ {
  color: #606;
}
.lit {
  color: #C9FF00;
}
.pun {
  color: #93A1A1;
}
.pln {
  color: #fff;
}
.tag {
  color: #297cb8;
}
.atn {
  color: #CB4B16;
}
.atv {
  color: #11D425;
}
.dec {
  color: #606;
}
/* ========================================================= Linenums ===*/
ol.linenums {
  margin: 0 0 0 30px;
  padding: 0;
}
ol.linenums li {
  color: #444;
  line-height: 20px;
}
/* Alternate shading for lines */
/* ========================================================= Header ===*/
html,
body {
  background-color: #d9dbde;
  background-color: #1B1F25;
  font-family: 'ProximaNova', sans-serif;
  font-weight: 400;
  /*height: 100%;*/

  width: 100%;
}
header {
  margin: 20px 0 20px 20px;
  position: relative;
  z-index: 100;
}
header h1 {
  display: block;
  font-family: 'Glegoo', serif;
  font-size: 22px;
  font-weight: 400;
  margin: 0;
  text-align: center;
  vertical-align: middle;
}
header h1 a,
header h1 a:hover {
  color: #df5a5d;
}
/* -------------
-- Navigation --
------------- */
nav {
  margin: 10px 10px 0 0;
  text-align: right;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
nav li {
  display: inline-block;
  padding: 0;
}
nav a {
  color: #ccc;
  display: block;
  font-size: 15px;
  padding: 6px 20px;
  text-align: center;
  text-shadow: 0 -1px 0 #000000;
}
nav a:hover {
  color: #fff;
}
nav li:last-child a {
  background-color: #6197e8;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#6197e8), to(#3776e0));
  background-image: -webkit-linear-gradient(top, #6197e8, #3776e0);
  background-image: -moz-linear-gradient(top, #6197e8, #3776e0);
  background-image: -o-linear-gradient(top, #6197e8, #3776e0);
  background-image: -ms-linear-gradient(top, #6197e8, #3776e0);
  background-image: linear-gradient(top, #6197e8, #3776e0);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#6197e8', EndColorStr='#3776e0');
  border: 1px solid #2463c4;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0px rgba(0, 0, 0, 0.3);
  color: #fff;
}
/* ========================================================= Home ===*/
#home #intro {
  margin: 50px 0;
}
#home #intro img {
  display: block;
  margin: 0 auto;
  text-align: center;
  max-width: 300px;
  width: 100%;
}
#home #intro .copy {
  margin: 0 10px 0 20px;
  text-align: center;
}
#home #intro h2 {
  font-size: 70px;
  margin: 0;
}
#home #intro h3 {
  font-family: 'ProximaNova', sans-serif;
  font-size: 22px;
  line-height: 1.2;
  margin: -10px 0 0;
}
#home #statuschart {
  border-bottom: 1px solid #afb0b2;
}
#home #statuschart .text {
  float: left;
  margin: 68px 0 0;
}
#home #statuschart .text h3 {
  font-size: 46px;
}
#home #statuschart .text p {
  font-size: 18px;
  margin: 0 0 40px;
}
#home #statuschart .img .g2 {
  margin-bottom: 0;
  padding-bottom: 0;
}
#home #statuschart img {
  float: right;
  margin: 20px 0 0 0;
}
#home #testimonial {
  border-bottom: 1px solid #afb0b2;
}
#home #testimonial ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#home #testimonial li {
  margin: 0;
  padding: 0;
}
#home #testimonial img {
  margin: 30px;
}
#home #testimonial img.person {
  border: 3px solid #FFFFFF;
  border-radius: 85px 85px 85px 85px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  float: left;
  width: 160px;
}
#home #testimonial img.comapny {
  float: left;
  width: 160px;
}
#home #testimonial blockquote {
  border-left: none;
  margin: 90px auto 70px;
  padding: 0;
  position: relative;
  text-align: center;
  max-width: 565px;
}
#home #testimonial blockquote p {
  color: #304453;
  font-family: 'Vollkorn', serif;
  font-size: 29px;
  line-height: 1.3;
  margin: 0;
}
#home #testimonial blockquote p:before {
  color: #d9d8d7;
  content: "\201C";
  font-size: 91px;
  line-height: 1;
  position: absolute;
  text-shadow: none;
  left: -20px;
  top: -12px;
}
#home #testimonial blockquote p:after {
  color: #d9d8d7;
  content: "\201D";
  font-size: 91px;
  line-height: 1;
  position: absolute;
  text-shadow: none;
  right: -20px;
  top: -12px;
}
#home #testimonial blockquote cite {
  color: #A8A7A7;
}
#home #history img {
  border: 3px solid #FFFFFF;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  float: right;
}
#home #status {
  border-top: 1px solid #afb0b2;
  border-bottom: 1px solid #afb0b2;
  margin: 0 0 30px;
  padding: 10px;
}
#home #status img {
  float: left;
  margin: 0 5px 0 0;
}
#home #status p {
  font-size: 16px;
  margin: 6px 0 0 0;
}
/* ========================================================= Page ===*/
#page {
  padding: 30px;
}
.page .content {
  padding: 30px;
}
.page {
  margin: 95px 0 0;
}
#page img {
  display: block;
  margin: 0 auto 18px;
  vertical-align: bottom;
}
/* ========================================================= About ===*/
#page.about img {
  border-radius: 4px;
  display: inline;
  float: left;
  margin: 0 30px 10px 0;
  max-width: 200px;
  width: 100%;
}
/* ========================================================= Resume ===*/
#resume figure {
  margin: 0;
}
#resume figure img {
  border-radius: 4px;
}
#resume .g3 p {
  margin: 0;
}
#resume .position {
  font-family: 'ProximaNovaBold', sans-serif;
  font-size: 18px;
  margin: 0;
}
#resume .position span {
  color: #999;
  float: right;
  font-family: 'ProximaNova', sans-serif;
  font-size: 14px;
}
#resume .company {
  font-size: 18px;
  margin: 0;
}
#resume ul {
  margin: 0 0 30px 30px;
  padding: 0;
}
#resume li {
  color: #666;
  font-size: 15px;
  margin: 0;
}
#resume .btn {
  display: block;
  margin: 40px auto 15px;
  text-align: center;
  width: 210px;
}
/* ========================================================= Article ===*/
article {
  margin: 0 auto 30px;
  max-width: 660px;
  padding: 30px;
}
article h1 {
  text-align: center;
}
article h2 {
  font-size: 33px;
  line-height: 1.2;
}
article h2 a,
article h2 a:hover {
  color: #313F42;
}
article p {
  color: #344347;
  -moz-hyphens: auto;
  hyphens: auto;
  text-align: justify;
}
.byline {
  color: #808590;
  font-size: 14px;
  margin: 30px 0 -10px;
  text-align: center;
  text-indent: 0;
}
#article-list {
  margin: 0;
  padding: 0;
}
#article-list li {
  border-bottom: 1px solid #ddd;
  box-shadow: 0 1px 0 #fff;
  list-style: none;
  margin: 0 0 5px;
  padding: 20px 0;
}
#article-list li:last-child {
  border-bottom: none;
  box-shadow: none;
  margin: 0;
}
#article-list p {
  margin: 0 0 10px;
}
#article-list p.byline {
  margin: 0;
}
article img {
  border-radius: 3px;
  display: block;
  height: auto;
  max-width: 100%;
  margin: 0 auto 20px;
}
code,
pre {
  border-radius: 3px;
  padding: 0 3px 2px;
  font-size: 14px;
  font-family: Consolas, Monaco, Andale Mono, Courier New, monospace;
  text-shadow: none;
}
code {
  background-color: #fee9cc;
  color: rgba(0, 0, 0, 0.75);
  padding: 1px 3px;
}
pre {
  background-color: #0b0f22;
  border: 3px solid #3b3f4e;
  display: block;
  margin-bottom: 20px;
  margin-left: -100px;
  padding: 20px ;
  line-height: 1.66;
  overflow: auto;
  width: 675px;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
pre ol li {
  font-size: 13px;
  font-family: Consolas, Monaco, Andale Mono, Courier New, monospace;
  text-shadow: none;
}
object {
  display: block;
  margin: 0 0 20px;
}
/* ========================================================= Projects ===*/
#latest-work img {
  border: 3px solid #444444;
  border-radius: 8px 8px 8px 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  height: auto;
  margin: 0 0 4px;
  max-width: 100%;
}
#logos img {
  border-radius: 4px;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.9), 0 1px 0 rgba(0, 0, 0, 0.2);
  display: block;
  margin: 0;
  height: auto;
  max-width: 100%;
}
#logos p {
  font-size: 14px;
  margin: 0;
  text-align: center;
}
#logos a p {
  color: #2bbad9;
}
.video {
  margin: 0 0 20px;
}
/* ========================================================= Videos ===*/
.videos h3 {
  margin: 30px 0 0;
}
/* ========================================================= Footer ===*/
footer {
  padding: 0 0 20px;
}
/* ---------
-- Social --
--------- */
#social {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
#social li {
  display: inline-block;
  margin: 0;
  padding: 0;
}
#social a {
  color: #525961;
  font-size: 12px;
  padding: 6px 20px 4px;
  text-shadow: none;
}
#social a:hover {
  color: #fff;
}
/* ========================================================= Adapt ===*/
@media all and (min-width: 41em) {
  .g1 {
    max-width: 50%;
  }
  .g2 {
    max-width: 50%;
  }
  .g3 {
    max-width: 50%;
  }
  .g4 {
    max-width: 100%;
  }
  header h1 {
    display: inline;
  }
  nav {
    float: right;
  }
  #home #intro h2 {
    margin: 20px 0 0;
  }
}
@media all and (min-width: 960px) {
  .container {
    max-width: 960px;
  }
  .g1 {
    max-width: 25%;
  }
  .g2 {
    max-width: 50%;
  }
  .g3 {
    max-width: 75%;
  }
  .g4 {
    max-width: 100%;
  }
  header h1 {
    display: inline;
  }
  #home #intro .copy {
    text-align: left;
  }
  #home #intro h2 {
    margin: 60px 0 0;
  }
  #home #intro img {
    float: left;
    margin: 0 40px 0 10px;
  }
}
