/* ========================================================= H5BP ===*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}
body {
  margin: 0;
  font-size: 100%;
  line-height: 1.4;
}
body,
button,
input,
select,
textarea {
  font-family: sans-serif;
  color: #222;
}
::-moz-selection {
  background: #ffffa9;
  color: #54545e;
  text-shadow: none;
}
::selection {
  background: #ffffa9;
  color: #54545e;
  text-shadow: none;
}
a {
  color: #48c9f7;
  text-decoration: none;
  -webkit-transition: color 0.25s ease-in, background 0.25s ease-in, opacity 0.25s ease-in;
  -moz-transition: color 0.25s ease-in, background 0.25s ease-in, opacity 0.25s ease-in;
  -ms-transition: color 0.25s ease-in, background 0.25s ease-in, opacity 0.25s ease-in;
  -o-transition: color 0.25s ease-in, background 0.25s ease-in, opacity 0.25s ease-in;
  transition: color 0.25s ease-in, background 0.25s ease-in, opacity 0.25s ease-in;
}
a:hover {
  color: #4acfff;
}
a:focus {
  outline: thin dotted;
}
a:active {
  color: #0eaea2;
}
a:hover,
a:active {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  background-color: #FFC;
  font-family: 'ProximaNova', sans-serif;
  font-weight: 400;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: "";
  content: none;
}
small {
  font-size: 85%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
ul,
ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}
dd {
  margin: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
label {
  cursor: pointer;
}
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
  *overflow: visible;
}
table button,
table input {
  *overflow: auto;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
input:invalid,
textarea:invalid {
  background-color: #f0dddd;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  vertical-align: top;
}
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}
.ir br {
  display: none;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
.clear {
  clear: both;
}
.hide {
  display: none;
}
.show {
  display: block;
}
/* ========================================================= Print ===*/
@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
@font-face {
  font-family: 'ProximaNova';
  src: url('/font/proximanova/proximanova-regular-webfont.eot');
  src: url('/font/proximanova/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'), url('/font/proximanova/proximanova-regular-webfont.woff') format('woff'), url('/font/proximanova/proximanova-regular-webfont.ttf') format('truetype'), url('/font/proximanova/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNovaLight';
  src: url('/font/proximanova/proximanova-light-webfont.eot');
  src: url('/font/proximanova/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'), url('/font/proximanova/proximanova-light-webfont.woff') format('woff'), url('/font/proximanova/proximanova-light-webfont.ttf') format('truetype'), url('/font/proximanova/proximanova-light-webfont.svg#proxima_nova_ltregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNovaBold';
  src: url('/font/proximanova/proximanova-bold-webfont.eot');
  src: url('/font/proximanova/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'), url('/font/proximanova/proximanova-bold-webfont.woff') format('woff'), url('/font/proximanova/proximanova-bold-webfont.ttf') format('truetype'), url('/font/proximanova/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Outage';
  src: url('/font/outage/outage-webfont.eot');
  src: url('/font/outage/outage-webfont.eot?#iefix') format('embedded-opentype'), url('/font/outage/outage-webfont.woff') format('woff'), url('/font/outage/outage-webfont.ttf') format('truetype'), url('/font/outage/outage-webfont.svg#OutageRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'QuicksandLight';
  src: url('/font/quicksand/Quicksand_Light-webfont.eot');
  src: url('/font/quicksand/Quicksand_Light-webfont.eot?#iefix') format('embedded-opentype'), url('/font/quicksand/Quicksand_Light-webfont.woff') format('woff'), url('/font/quicksand/Quicksand_Light-webfont.ttf') format('truetype'), url('/font/quicksand/Quicksand_Light-webfont.svg#QuicksandLight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BitstreamVeraSansRoman';
  src: url('/font/bitstream/Vera-webfont.eot');
  src: url('/font/bitstream/Vera-webfont?#iefix') format('embedded-opentype'), url('/font/bitstream/Vera-webfont.woff') format('woff'), url('/font/bitstream/Vera-webfont.ttf') format('truetype'), url('/font/bitstream/Vera-webfont.svg#BitstreamVeraSansRoman') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BitstreamVeraSansBold';
  src: url('/font/bitstream/Vera-Bold-webfont.eot');
  src: url('/font/bitstream/Vera-Bold-webfont?#iefix') format('embedded-opentype'), url('/font/bitstream/Vera-Bold-webfont.woff') format('woff'), url('/font/bitstream/Vera-Bold-webfont.ttf') format('truetype'), url('/font/bitstream/Vera-Bold-webfont.svg#BitstreamVeraSansBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TitilliumText22LThin';
  src: url('/font/titillium/TitilliumText22L001-webfont.eot');
  src: url('/font/titillium/TitilliumText22L001-webfont.eot?#iefix') format('embedded-opentype'), url('/font/titillium/TitilliumText22L001-webfont.woff') format('woff'), url('/font/titillium/TitilliumText22L001-webfont.ttf') format('truetype'), url('/font/titillium/TitilliumText22L001-webfont.svg#TitilliumText22LThin') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TitilliumText22LLight';
  src: url('/font/titillium/TitilliumText22L002-webfont.eot');
  src: url('/font/titillium/TitilliumText22L002-webfont.eot?#iefix') format('embedded-opentype'), url('/font/titillium/TitilliumText22L002-webfont.woff') format('woff'), url('/font/titillium/TitilliumText22L002-webfont.ttf') format('truetype'), url('/font/titillium/TitilliumText22L002-webfont.svg#TitilliumText22LLight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TitilliumText22LRegular';
  src: url('/font/titillium/TitilliumText22L003-webfont.eot');
  src: url('/font/titillium/TitilliumText22L003-webfont.eot?#iefix') format('embedded-opentype'), url('/font/titillium/TitilliumText22L003-webfont.woff') format('woff'), url('/font/titillium/TitilliumText22L003-webfont.ttf') format('truetype'), url('/font/titillium/TitilliumText22L003-webfont.svg#TitilliumText22LRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TitilliumText22LMedium';
  src: url('/font/titillium/TitilliumText22L004-webfont.eot');
  src: url('/font/titillium/TitilliumText22L004-webfont.eot?#iefix') format('embedded-opentype'), url('/font/titillium/TitilliumText22L004-webfont.woff') format('woff'), url('/font/titillium/TitilliumText22L004-webfont.ttf') format('truetype'), url('/font/titillium/TitilliumText22L004-webfont.svg#TitilliumText22LMedium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TitilliumText22LBold';
  src: url('/font/titillium/TitilliumText22L005-webfont.eot');
  src: url('/font/titillium/TitilliumText22L005-webfont.eot?#iefix') format('embedded-opentype'), url('/font/titillium/TitilliumText22L005-webfont.woff') format('woff'), url('/font/titillium/TitilliumText22L005-webfont.ttf') format('truetype'), url('/font/titillium/TitilliumText22L005-webfont.svg#TitilliumText22LBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TitilliumText22LXBold';
  src: url('/font/titillium/TitilliumText22L006-webfont.eot');
  src: url('/font/titillium/TitilliumText22L006-webfont.eot?#iefix') format('embedded-opentype'), url('/font/titillium/TitilliumText22L006-webfont.woff') format('woff'), url('/font/titillium/TitilliumText22L006-webfont.ttf') format('truetype'), url('/font/titillium/TitilliumText22L006-webfont.svg#TitilliumText22LXBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'WisdomScript';
  src: url('/font/wisdomscript/wisdom_script-webfont.eot');
  src: url('/font/wisdomscript/wisdom_script-webfont.eot?#iefix') format('embedded-opentype'), url('/font/wisdomscript/wisdom_script-webfont.woff') format('woff'), url('/font/wisdomscript/wisdom_script-webfont.ttf') format('truetype'), url('/font/wisdomscript/wisdom_script-webfont.svg#wisdom_script_airegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* ========================================================= Typography ===*/
h1 {
  color: #313f42;
  font-family: 'ProximaNova', sans-serif;
  font-size: 32px;
  font-weight: 400;
  margin: 0 0 30px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);
}
h2 {
  color: #313f42;
  font-family: 'ProximaNovaBold', sans-serif;
  font-size: 32px;
  font-weight: 400;
  margin: 0 0 10px;
  padding: 0;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);
}
h3 {
  color: #313f42;
  font-family: 'ProximaNovaBold', sans-serif;
  font-weight: 400;
  font-size: 24px;
  margin: 0 0 5px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);
}
h4 {
  color: #313f42;
  font-family: 'EB Garamond', serif;
  font-weight: 400;
  font-size: 22px;
  margin: 5px 0;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);
}
p {
  color: #5e7880;
  font-size: 16px;
  line-height: 1.5;
  margin: 0 0 20px;
  text-shadow: 0 1px 1px #fff;
}
ul {
  margin: 0 0 20px;
}
li {
  color: #5e7880;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  line-height: 1.5;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);
}
dt {
  font-weight: bold;
}
dl {
  color: #5e7880;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  line-height: 1.5;
  margin: 0 0 10px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);
}
blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 20px;
  border-left: 5px solid #EEE;
}
blockquote p {
  margin-bottom: 0;
  font-size: 15px;
  line-height: 1.4;
}
blockquote small {
  display: block;
  color: #999;
}
/* ========================================================= Structure ===*/
#page {
  background-color: #eff1f5;
  border: 1px solid #afb0b2;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  margin: 95px 0 30px;
  padding: 30px;
}
.page .content {
  padding: 30px;
}
.page {
  margin: 95px 0 0;
}
.container {
  margin: 0 auto;
}
.content {
  background-color: #eff1f5;
  border: 1px solid #afb0b2;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  margin: 0 0 30px;
}
.container:before,
.container:after,
.content:before,
.content:after {
  content: "";
  display: table;
}
.container:after,
.content:after {
  clear: both;
}
.container,
.content {
  zoom: 1;
}
.g1,
.g2,
.g3,
.g4,
.g5,
.g6,
.g7,
.g8,
.g9,
.g10,
.g11,
.g12 {
  float: left;
  margin: 10px;
  width: 100%;
}
/* ----------
 -- 960px --
---------- */
.container {
  width: 960px;
}
.g1 {
  max-width: 60px;
}
.g2 {
  max-width: 140px;
}
.g3 {
  max-width: 220px;
}
.g4 {
  max-width: 279px;
}
.g5 {
  max-width: 380px;
}
.g6 {
  max-width: 429px;
}
.g7 {
  max-width: 540px;
}
.g8 {
  max-width: 558px;
}
.g9 {
  max-width: 700px;
}
.g10 {
  max-width: 780px;
}
.g11 {
  max-width: 860px;
}
.g12 {
  max-width: 940px;
}
/* ---------
 -- 768px --
--------- */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    width: 768px;
  }
  .g1 {
    max-width: 44px;
  }
  .g2 {
    max-width: 108px;
  }
  .g3 {
    max-width: 172px;
  }
  .g4 {
    max-width: 236px;
  }
  .g5 {
    max-width: 300px;
  }
  .g6 {
    max-width: 364px;
  }
  .g7 {
    max-width: 428px;
  }
  .g8 {
    max-width: 492px;
  }
  .g9 {
    max-width: 556px;
  }
  .g10 {
    max-width: 620px;
  }
  .g11 {
    max-width: 684px;
  }
  .g12 {
    max-width: 748px;
  }
}
/* ---------
 -- 480px --
--------- */
@media screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 480px;
  }
  .g1 {
    max-width: 60px;
  }
  .g2 {
    max-width: 100px;
  }
  .g3 {
    max-width: 220px;
  }
  .g4 {
    max-width: 460px;
  }
  .g5 {
    max-width: 460px;
  }
  .g6 {
    max-width: 460px;
  }
  .g7 {
    max-width: 460px;
  }
  .g8 {
    max-width: 460px;
  }
  .g9 {
    max-width: 460px;
  }
  .g10 {
    max-width: 460px;
  }
  .g11 {
    max-width: 460px;
  }
  .g12 {
    max-width: 460px;
  }
}
/* ---------
 -- 320px --
--------- */
@media screen and (min-width: 320px) and (max-width: 479px) {
  .container {
    width: 320px;
  }
  .g1 {
    max-width: 44px;
  }
  .g2 {
    max-width: 86px;
  }
  .g3 {
    max-width: 140px;
  }
  .g4 {
    max-width: 300px;
  }
  .g5 {
    max-width: 300px;
  }
  .g6 {
    max-width: 300px;
  }
  .g7 {
    max-width: 300px;
  }
  .g8 {
    max-width: 300px;
  }
  .g9 {
    max-width: 300px;
  }
  .g10 {
    max-width: 300px;
  }
  .g11 {
    max-width: 300px;
  }
  .g12 {
    max-width: 300px;
  }
}
/* ========================================================= Animation ===*/
/* Thanks @_dte for making my life easy! (http://daneden.me/animate/) */
@-webkit-keyframes bounce {
  0% {
    opacity: 0;
    -moz-transform: translateY(100px);
  }
  60% {
    opacity: 1;
    -moz-transform: translateY(-30px);
  }
  80% {
    -moz-transform: translateY(10px);
  }
  100% {
    -moz-transform: translateY(0);
  }
}
@-moz-keyframes bounce {
  0% {
    opacity: 0;
    -moz-transform: translateY(-3000px);
  }
  60% {
    opacity: 1;
    -moz-transform: translateY(10px);
  }
  80% {
    -moz-transform: translateY(-5px);
  }
  100% {
    -moz-transform: translateY(0);
  }
}
@-ms-keyframes bounce {
  0% {
    opacity: 0;
    -moz-transform: translateY(3000px);
  }
  60% {
    opacity: 1;
    -moz-transform: translateY(-30px);
  }
  80% {
    -moz-transform: translateY(10px);
  }
  100% {
    -moz-transform: translateY(0);
  }
}
@-o-keyframes bounce {
  0% {
    opacity: 0;
    -moz-transform: translateY(3000px);
  }
  60% {
    opacity: 1;
    -moz-transform: translateY(-30px);
  }
  80% {
    -moz-transform: translateY(10px);
  }
  100% {
    -moz-transform: translateY(0);
  }
}
@keyframes bounce {
  0% {
    opacity: 0;
    -moz-transform: translateY(3000px);
  }
  60% {
    opacity: 1;
    -moz-transform: translateY(-30px);
  }
  80% {
    -moz-transform: translateY(10px);
  }
  100% {
    -moz-transform: translateY(0);
  }
}
/* ========================================================= Utility ===*/
.btn {
  background-color: #6197e8;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#6197e8), to(#3776e0));
  background-image: -webkit-linear-gradient(top, #6197e8, #3776e0);
  background-image: -moz-linear-gradient(top, #6197e8, #3776e0);
  background-image: -o-linear-gradient(top, #6197e8, #3776e0);
  background-image: -ms-linear-gradient(top, #6197e8, #3776e0);
  background-image: linear-gradient(top, #6197e8, #3776e0);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#6197e8', EndColorStr='#3776e0');
  border: 1px solid #2463c4;
  border-radius: 4px;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1) inset, 0 1px 0px rgba(0, 0, 0, 0.3);
  color: #fff;
  font-size: 18px;
  padding: 8px 14px;
  text-shadow: none;
}
.btn:hover {
  background-color: #10ccbc;
  color: #fff;
}
hr {
  background: none repeat scroll 0 0 #E5E5E5;
  border: medium none;
  box-shadow: 0 1px 0 #fafafa;
  clear: both;
  height: 1px;
  margin: 0 0 20px;
  width: 100%;
}
figure {
  margin: 0 0 40px;
}
figure img {
  height: auto;
  max-width: 100%;
}
figcaption h4 {
  font-style: normal;
}
figcaption {
  color: #777;
  font-size: 14px;
  font-style: italic;
}
.sarcasm {
  display: inline-block;
  -moz-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(15deg, 0deg);
  -webkit-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(15deg, 0deg);
  -o-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(15deg, 0deg);
  -ms-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(15deg, 0deg);
  transform: scale(1) rotate(0deg) translate(0px, 0px) skew(15deg, 0deg);
}
/* ========================================================= Prettify ===*/
.str {
  color: #080;
}
.kwd {
  color: #86A5D2;
}
.com {
  color: #FF5E00;
}
.typ {
  color: #606;
}
.lit {
  color: #C9FF00;
}
.pun {
  color: #93A1A1;
}
.pln {
  color: #fff;
}
.tag {
  color: #297cb8;
}
.atn {
  color: #CB4B16;
}
.atv {
  color: #11D425;
}
.dec {
  color: #606;
}
/* ========================================================= Linenums ===*/
ol.linenums {
  margin: 0 0 0 30px;
  padding: 0;
}
ol.linenums li {
  color: #444;
  line-height: 20px;
}
/* Alternate shading for lines */
/* ========================================================= Header ===*/
html,
body {
  background-color: #d9dbde;
  font-family: 'ProximaNova', sans-serif;
  font-weight: 400;
  height: 100%;
  width: 100%;
}
header {
  background-color: rgba(255, 255, 255, 0.94);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  margin: 0 0 40px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
}
header h1 {
  display: inline;
  font-family: 'Allura';
  font-size: 32px;
  margin: 0;
  vertical-align: middle;
}
header h1 a,
header h1 a:hover {
  color: #3a424c;
}
/* -------------
-- Navigation --
------------- */
nav {
  float: right;
  margin: 0;
  text-align: right;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
nav li {
  display: inline-block;
  padding: 0;
}
nav a {
  color: #3a424c;
  display: block;
  font-size: 12px;
  padding: 13px 20px;
  text-align: center;
  text-transform: lowercase;
}
nav a:hover {
  color: #3a424c;
}
nav li:last-child a {
  border: none;
  box-shadow: none;
}
/* ========================================================= Home ===*/
#intro {
  background-image: url("/img/home/intro-noise.jpg");
  background-color: #717b87;
  height: 419px;
  margin: 65px 0 40px;
}
#intro .copy {
  float: left;
  width: 400px;
}
#intro h2 {
  color: #e6f0f5;
  font-family: 'ProximaNovaBold', sans-serif;
  font-size: 112px;
  margin: 95px 0 0;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
#intro h3 {
  color: #dae3e8;
  font-family: 'ProximaNova', sans-serif;
  font-size: 18px;
  margin: -30px 0 0;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
#intro img {
  float: right;
}
#statuschart {
  background-color: #eff1f5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eff1f5), to(#dbdce1));
  background-image: -webkit-linear-gradient(top, #eff1f5, #dbdce1);
  background-image: -moz-linear-gradient(top, #eff1f5, #dbdce1);
  background-image: -o-linear-gradient(top, #eff1f5, #dbdce1);
  background-image: -ms-linear-gradient(top, #eff1f5, #dbdce1);
  background-image: linear-gradient(top, #eff1f5, #dbdce1);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#eff1f5', EndColorStr='#dbdce1');
  border-bottom: 1px solid #afb0b2;
  border-radius: 3px 3px 0 0;
}
#statuschart .text {
  float: left;
  margin: 68px 30px 0;
  width: 385px;
}
#statuschart .text h3 {
  font-size: 54px;
}
#statuschart .text p {
  font-size: 18px;
  margin: 0 0 40px;
}
#statuschart img {
  float: right;
  margin: 20px 30px 0 0;
}
#testimonial {
  border-bottom: 1px solid #afb0b2;
}
#testimonial ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#testimonial li {
  margin: 0;
  padding: 0;
}
#testimonial img {
  margin: 30px;
}
#testimonial img.person {
  border: 3px solid #FFFFFF;
  border-radius: 85px 85px 85px 85px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  float: left;
  width: 160px;
}
#testimonial img.comapny {
  float: left;
  width: 160px;
}
#testimonial blockquote {
  float: left;
  margin: 77px 30px 20px 0;
  width: 680px;
}
#testimonial blockquote p {
  color: #313F42;
  font-family: 'EB Garamond', serif;
  font-size: 28px;
}
#history {
  background-color: #eff1f5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eff1f5), to(#dbdce1));
  background-image: -webkit-linear-gradient(top, #eff1f5, #dbdce1);
  background-image: -moz-linear-gradient(top, #eff1f5, #dbdce1);
  background-image: -o-linear-gradient(top, #eff1f5, #dbdce1);
  background-image: -ms-linear-gradient(top, #eff1f5, #dbdce1);
  background-image: linear-gradient(top, #eff1f5, #dbdce1);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#eff1f5', EndColorStr='#dbdce1');
}
#history .text {
  float: left;
  padding: 30px;
  width: 670px;
}
#history img {
  border: 3px solid #FFFFFF;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  float: left;
  margin: 30px;
  width: 160px;
}
#status {
  background-color: #eff1f5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eff1f5), to(#dbdce1));
  background-image: -webkit-linear-gradient(top, #eff1f5, #dbdce1);
  background-image: -moz-linear-gradient(top, #eff1f5, #dbdce1);
  background-image: -o-linear-gradient(top, #eff1f5, #dbdce1);
  background-image: -ms-linear-gradient(top, #eff1f5, #dbdce1);
  background-image: linear-gradient(top, #eff1f5, #dbdce1);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#eff1f5', EndColorStr='#dbdce1');
  border: 1px solid #afb0b2;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  margin: 0 0 30px;
  padding: 10px;
}
#status img {
  float: left;
  margin: 0 5px 0 0;
}
#status p {
  margin: 6px 0 0 0;
}
/* ========================================================= Articles ===*/
article {
  margin: 95px auto 30px;
  padding: 5px;
  max-width: 700px;
  background-color: #eff1f5;
  border: 1px solid #afb0b2;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  padding: 30px;
}
article h1 {
  text-align: center;
}
article p {
  -moz-hyphens: auto;
  hyphens: auto;
  text-align: justify;
}
.byline {
  color: #808590;
  font-size: 14px;
  margin: 30px 0 -10px;
  text-align: center;
  text-indent: 0;
}
/* ========================================================= Contact ===*/
.contact {
  margin: 0 auto;
  padding: 0;
  width: 425px;
}
.contact li {
  display: inline-block;
  list-style: none;
  margin: 0 0 10px;
  padding: 0;
}
.contact li a {
  padding: 20px;
}
.contact span {
  display: inline-block;
  height: 16px;
  margin: 0 10px 0 0;
  vertical-align: middle;
  width: 16px;
}
/* ========================================================= Resume ===*/
#resume h2 {
  margin: 51px 0 10px;
}
#resume ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#resume li {
  color: #666;
  font-size: 15px;
  margin: 0 0 10px;
}
#resume .g4 {
  text-align: right;
}
#resume .g4 h3 {
  font-size: 18px;
}
#resume .g4 p {
  font-size: 15px;
  margin: 0;
}
#resume .g8 p {
  color: #30353D;
  margin: 0 0 3px;
}
/* ========================================================= Status ===*/
#status hr {
  margin: 0;
}
#status .notice {
  background-color: #c2f7e7;
  border: 1px solid #78e8c7;
  border-radius: 3px;
  color: #111111;
  padding: 5px 10px;
}
#gauge-busy,
#gauge-stress,
#gauge-email {
  height: 160px;
  width: 300px;
}
.note {
  color: #bbb;
  font-size: 12px;
  font-style: italic;
  margin: 0 0 5px;
  text-align: right;
}
/* ----------
-- Filters --
---------- */
#filters ul {
  list-style: none;
  margin: 10px 0;
  padding: 0;
}
#filters li {
  background: #394045;
  background: -moz-linear-gradient(top, #394045 0%, #30363a 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #394045), color-stop(100%, #30363a));
  background: -webkit-linear-gradient(top, #394045 0%, #30363a 100%);
  background: -o-linear-gradient(top, #394045 0%, #30363a 100%);
  background: -ms-linear-gradient(top, #394045 0%, #30363a 100%);
  background: linear-gradient(to bottom, #394045 0%, #30363a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#394045', endColorstr='#30363a', GradientType=0);
  border: 1px solid #111314;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), 0 1px 0 rgba(255, 255, 255, 0.2) inset;
  border-radius: 4px;
  display: inline-block;
  margin: 0 10px 0 0;
  padding: 0;
}
#filters strong {
  color: #EEEEEE;
  display: inline-block;
  font-weight: normal;
  padding: 9px 25px;
  text-shadow: none;
  vertical-align: middle;
}
#filters a {
  color: #eee;
  display: block;
  padding: 5px 10px 5px 5px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
}
#filters img {
  margin: 0 5px 0 0;
}
#filters span {
  font-size: 13px;
  vertical-align: middle;
}
/* ----------
-- Results --
---------- */
.status {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  list-style: none;
  margin: 0 0 10px;
  padding: 0;
}
.status li {
  background-image: url(/img/noise.png);
  background-color: #30363a;
  border-bottom: 1px solid #282d30;
  border-top: 1px solid #3b4347;
  color: #eee;
  margin: 0;
  padding: 10px 8px;
  text-shadow: none;
}
.status li:first-child {
  border-radius: 4px 4px 0 0;
}
.status li:last-child {
  border-radius: 0 0 4px 4px;
}
.status span {
  background-color: #282d30;
  border: 1px solid #1e2124;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3) inset, 0 1px 0 rgba(255, 255, 255, 0.1);
  display: inline-block;
  margin: 0 5px;
  padding: 4px 10px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  vertical-align: top;
}
.status .type {
  border: none;
  border-radius: 0;
  box-shadow: none;
  display: inline-block;
  height: 36px;
  padding: 0;
  vertical-align: top;
  width: 36px;
}
.status .name {
  width: 554px;
}
.status .started {
  height: 25px;
  width: 43px;
}
.status .finished {
  height: 25px;
  width: 43px;
}
.status .finished small {
  display: inline-block;
  font-size: 12px;
  padding: 0 0 2px;
  vertical-align: text-bottom;
}
.status .condition {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  width: 110px;
}
/* ---------
-- Status --
--------- */
.status .scheduled {
  background-color: #3899d6;
}
.status .in-progress {
  background-color: #d63a38;
}
.status .stalled {
  background-color: #e07926;
}
.status .completed {
  background-color: #00a651;
}
/* -------
-- Type --
------- */
.status .hackathon .type {
  background: url('/img/status/hackathon.png') center center no-repeat;
}
.status .project .type {
  background: url('/img/status/project.png') center center no-repeat;
}
.status .speaking .type {
  background: url('/img/status/speaking.png') center center no-repeat;
}
.status .event .type {
  background: url('/img/status/event.png') center center no-repeat;
}
.status .honor .type {
  background: url('/img/status/honor.png') center center no-repeat;
}
.status .charity .type {
  background: url('/img/status/charity.png') center center no-repeat;
}
/* ========================================================= Projects ===*/
#logos img {
  border-radius: 4px;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.9), 0 1px 0 rgba(0, 0, 0, 0.2);
  display: block;
  height: auto;
  max-width: 100%;
}
.video {
  margin: 0 0 20px;
}
.browser {
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  height: auto;
  max-width: 100%;
}
/* ========================================================= Article ===*/
#article-list {
  margin: 0;
  padding: 0;
}
#article-list li {
  border-bottom: 1px solid #ddd;
  box-shadow: 0 1px 0 #fff;
  list-style: none;
  margin: 0 0 5px;
  padding: 20px;
}
#article-list li:last-child {
  border-bottom: none;
  box-shadow: none;
  margin: 0;
}
#article-list p {
  margin: 0 0 10px;
}
#article-list p.byline {
  margin: 0;
}
article img {
  border-radius: 3px;
  display: block;
  height: auto;
  max-width: 100%;
  margin: 0 auto 20px;
}
code,
pre {
  border-radius: 3px;
  padding: 0 3px 2px;
  font-size: 14px;
  font-family: Consolas, Monaco, Andale Mono, Courier New, monospace;
  text-shadow: none;
}
code {
  background-color: #fee9cc;
  color: rgba(0, 0, 0, 0.75);
  padding: 1px 3px;
}
pre {
  background-color: #0b0f22;
  border: 3px solid #3b3f4e;
  display: block;
  margin-bottom: 20px;
  margin-left: -100px;
  padding: 20px ;
  line-height: 1.66;
  overflow: auto;
  width: 860px;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
pre ol li {
  font-size: 13px;
  font-family: Consolas, Monaco, Andale Mono, Courier New, monospace;
  text-shadow: none;
}
object {
  display: block;
  margin: 0 0 20px;
}
/* ========================================================= Footer ===*/
footer {
  padding: 0 0 30px;
}
/* ---------
-- Social --
--------- */
#social {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
#social li {
  display: inline-block;
  margin: 0;
  padding: 0;
}
#social a {
  color: #333;
  font-size: 12px;
  padding: 6px 20px 4px;
  text-shadow: none;
}
/* ========================================================= Structure ===*/
/* ---------
 -- 768px --
--------- */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  #intro h2 {
    padding: 40px 0 0;
  }
  #intro p {
    font-size: 16px;
  }
  pre {
    margin-left: 0;
    width: auto;
  }
}
/* ---------
 -- 480px --
--------- */
@media screen and (min-width: 480px) and (max-width: 767px) {
  header h1 {
    font-size: 37px;
  }
  nav {
    float: none;
  }
  nav a {
    padding: 9px 53px;
  }
  #intro h2 {
    padding: 0;
  }
  #intro p {
    font-size: 15px;
  }
  #history img {
    float: none;
    margin: 0 auto 30px;
  }
  pre {
    margin-left: 0;
    width: auto;
  }
}
/* ---------
 -- 320px --
--------- */
@media screen and (min-width: 320px) and (max-width: 479px) {
  #intro h2 {
    padding: 0;
  }
  nav a {
    padding: 9px 28px;
  }
  pre {
    margin-left: 0;
    width: auto;
  }
}
