@import "reset.css.scss";
@import "fontface.css.scss";
@import "ss-standard.css.scss";
@import "ss-social-circle.css.scss";
@import "ss-social-regular.css.scss";
@import "grid.css.scss";
@import "typography.css.scss";
@import "animations.css.scss";
@import "utilities.css.scss";
@import "syntax.css.scss";
/* ========================================================= Header ===*/
html,body{
  background-color: #dadedf;
  background-color: #efeff4;
  background-color: #f8f8f8;
  background: #eeeeee;
  background: -moz-linear-gradient(top,  #eeeeee 0%, #f8f8f8 30%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(30%,#f8f8f8));
  background: -webkit-linear-gradient(top,  #eeeeee 0%,#f8f8f8 30%);
  background: -o-linear-gradient(top,  #eeeeee 0%,#f8f8f8 30%);
  background: -ms-linear-gradient(top,  #eeeeee 0%,#f8f8f8 30%);
  background: linear-gradient(to bottom,  #eeeeee 0%,#f8f8f8 30%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#f8f8f8',GradientType=0 );
  color: #3d464d;
  font-family: 'ProximaNova', sans-serif;
  font-size: 1em;
  font-weight: 400;
  width: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
header{
  background-color: #262628;
  background-color: #28303a;
  h1{
    display: inline-block;
    line-height: 0;
    margin: 0;
    vertical-align: middle;
    a{
      display: inline-block;
      padding: 20px;
      &:active{
        outline: none;
      }
    }
  }
  .menu{
    color: #ddd;
    font-size: 1.414em;
    float: right;
    padding: 38px 20px 20px;
  }
  img{
    border-radius: 0;
    max-height: 50px;
  }
}
/* -------------
-- Navigation --
------------- */
nav{
  background-color: #1FBC9A;
  display: none;
  width: 100%;
  ul{
    li{
      border-bottom: 1px solid rgba(0,0,0,0.1);
      a{
        color: #ddd;
        display: block;
        padding: 15px;
        font-family: 'Effra Medium', sans-serif;
        text-align: center;
        text-transform: uppercase;
        &:hover{
          color: #fff;
        }
        &:last-child{
          border: none;
        }
      }
    }
  }
}
/* ========================================================= Intro ===*/
#intro{
  background-color: #2e2e30;
  padding: 50px 10px 80px;
  h1{
    color: #FFFFFF;
    display: inline;
    font-family: 'Effra Light', sans-serif;
    letter-spacing: 4px;
    margin: 0;
    word-spacing: 10px;
    text-transform: uppercase;
  }
}
/* ========================================================= Page ===*/
.page{
  background-color: #fff;
  background-color: #f8f8f8;
  // border-radius: 2px;
  // box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  margin: 0 0 3em;
  position: relative;
  z-index: 5;
  // img{
  //   display: inline-block;
  //   margin: 0 auto 1em;
  // }
  .content{
    padding: 2em 0 0.5em 0;
  }
}
/* ========================================================= Home ===*/
#home{
  #intro{
    .btn{
      float: right;
    }
  }
  .availability{
    list-style: none;
    margin: 0 0 1.5em;
    padding: 0;
    li{
      border-bottom: 1px dashed #ccc;
      padding: 5px;
      &:nth-child(odd){
        background: #f1f1f1;
      }
      &.booked{
        strong{
          color: #e67e22;
        }
      }
      &.available{
        strong{
          color: #3498db;
        }
      }
      &.past{
        opacity: 0.3;
      }
      span{
        color: #aaa;
      }
      strong{
        float: right;
      }
    }
  }
  .featuredwork{
    a{
      color: #1FBC9A;
      img{
        margin: 0 0 15px;
      }
      p{
        margin: 0;
        text-align: center;
        font-size: 12px;
        strong{
          display: block;
          font-size: 16px;
          text-transform: uppercase;
        }
      }
    }
  }
}
/* ========================================================= Page ===*/
.page{
  .hero{
    span{
      display: block;
      position: relative;
      &:before{
          border-radius: 0;
          content: "";
          height: 100%;
          left: 0;
          position: absolute;
          width: 100%;
      }
    }
    img{
      border-radius: 0 !important; /* I am a lazy hack, I know :( */
      display: block;
      margin: 0;
      width: 100%;
    }
  }
}
/* ========================================================= About ===*/
#about{
  img{
    border-radius: 4px;
    display: block;
    margin: 0 auto 1em;
  }
  .top{
    margin-bottom: 40px;
  }
}
.skills{
  list-style: none;
  padding: 0;
  i{
    font-size: 16px;
    vertical-align: middle;
  }
}
.achievements{
  h3{
    margin-bottom: 30px;
  }
}
.brands{
  h3{
    margin-bottom: 30px;
  }
  img{
    max-height: 75px;
  }
}
/* ========================================================= Resume ===*/
.resume figure{
  margin: 0;
}
.resume figure img{
  margin: 0 0 20px;
}
.resume .g3 p{
  margin: 0;
}
.resume .position{
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  margin: 0;
}
.resume .position span{
  color: #999;
  float: right;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
.resume .company{
  font-size: 18px;
  margin: 0;
}
.resume ul{
  margin: 0 0 30px 30px;
  padding:0;
}
.resume li{
    color: #666;
    font-size: 15px;
    margin: 0;
}
.resume .btn{
  display: block;
  margin: 40px auto 15px;
  text-align: center;
  max-width: 235px;
}
/* ========================================================= Articles ===*/
#article-list{
  margin: 0;
  padding: 0;
  li{
    border-bottom: 1px solid #ddd;
    box-shadow: 0 1px 0 #fff;
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 2em 0 0;
    &:last-child{
      border-bottom: none;
      box-shadow: none;
      margin: 0;
    }
    .byline{
      color: #b8b8b8;
      text-transform: uppercase;
    }
    img{
      border-radius: 3px;
      float: right;
      margin: -1.5em 0px -1.5em;
      // max-width: 225px;
    }
    h2{
      font-size: 28px;
      line-height: 1.0;
    }
    p{
      margin: 0;
    }
    a{
      // color: #222;
    }
  }
}

/* ========================================================= Process ===*/
#process{
  .step{
    img{
      display: block;
      margin: 0 auto 20px;
      height: 70px;
    }
    span{
      border-top: 1px solid #ccc;
      color: #999;
      text-align: center;
      width: 50px;
      display: block;
      margin: 0 auto;
    }
  }
}
/* ========================================================= Article ===*/
article{
  // padding: 1em;
  .byline{
    color: #b8b8b8;
    font-size: 16px;
    font-family: 'ProximaNovaLight';
    margin: 0 0 10px;
    padding: 60px 0 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  h1{
    font-size: 50px;
    margin: 0 0 15px;
    padding: 0 20px;
    text-align: center;
    text-transform: capitalize;
  }
  .tag_list{
    list-style: none;
    margin: 0 0 60px;
    padding: 0;
    text-align: center;
    li{
      display: inline-block;
      color: #b8b8b8;
      font-size: 16px;
      font-family: 'ProximaNovaLight';
      text-transform: uppercase;
      margin: 0;
      padding: 0;
      a{
        display: inline-block;
        color: #b8b8b8;
        padding: 0 5px;
        letter-spacing: 5px;
      }
    }
  }
  .hero{
    border-radius: 0;
  }
  .content{
    margin: 0 auto;
    max-width: 700px;
  }
  h2{
    font-size: 37px;
    line-height: 1.2;
    // margin: 0 0 40px;
    a{
      color: #313F42;
      &:hover{
        color: #313F42;
      }
    }
  }
  p{
    color: #344347;
    -moz-hyphens: auto;
    hyphens: auto;
    text-align: justify;
  }
  img{
    border-radius: 3px;
    display: block;
    height: auto;
    max-width: 100%;
    margin: 0 auto 20px;
  }

}
/*code, pre{
    border-radius: 3px;
    padding: 0 3px 2px;
    font-size: 14px;
    font-family: Consolas, Monaco, Andale Mono, Courier New, monospace;
    text-shadow: none;
}
code{
    background-color: #fee9cc;
    color: rgba(0, 0, 0, 0.75);
    padding: 1px 3px;
}
pre{
    background-color: #0b0f22;
    border: 3px solid #3b3f4e;
    display: block;
    margin-bottom: 1em;
    padding: 20px ;
    line-height: 1.66;
    overflow: auto;
    width: 920px;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}
pre{
    width: 100%;
    margin-left:0;
}
pre ol li{
    font-size: 13px;
    font-family: Consolas, Monaco, Andale Mono, Courier New, monospace;
    text-shadow: none;
}
*/
object{
    display: block;
    margin: 0 0 20px;
}

/* ========================================================= Projects ===*/
.projects{
  .col-3{
    margin: 0 0 2em;
  }
  img{
  	display: block;
    margin: 0 0 10px;
  }
  p{

  }
  a{
    strong{
      font-size: 14px;
      display: block;
      text-transform: uppercase;
    }
  }
}

.controls{
  padding: 2%;
  background: #37383A;
  color: #eee;
  text-align: center;
  label{
    margin: 0 .4em 0 0;
    font-family: 'ProximaNovaLite', sans-serif;
    text-transform: uppercase;
  }
  button{
    background: none;
    display: inline-block;
    padding: .4em .8em;
    border: 0;
    color: rgba(255,255,255,0.5);
    cursor: pointer;
    color: #ddd;
    padding: 15px;
    font-family: 'ProximaNovaBold', sans-serif;
    text-transform: uppercase;
  }
  button.active{
    background: rgba(255,255,255,0.4);
    border-radius: 3px;
  }
  button:focus{
    outline: 0 none;
  }
  button + label{
    margin-left: 1em;
  }
}

.con{
  .mix{
    display: none;
  }
}
#pros{
  background-color: #37383A;
}



.pro{
  height: 600px;
  width: 100%;
  section{
    height: 100%;
    padding: 90px 20px 0;
    text-align: center;
    svg{
      padding-bottom: 80px;
      max-height: 400px;
      max-width: 100%;
      height: 100%;
    }
    img{
      padding-bottom: 80px;
      max-height: 400px;
      max-width: 100%;
      height: auto;
    }
    .title{
      h3{
        text-transform: uppercase;
        margin: 0;
      }
      p{
        margin: 0;
      }
    }
  }
  .light{
    h3{
      color: #fff;
      letter-spacing: 11px;
    }
    p{
      color: rgba(255,255,255,0.4);
    }
  }
  .dark{
    h3{
      color: #000;
      letter-spacing: 11px;
    }
    p{
      color: rgba(0,0,0,0.4);
    }
  }
  .circly{
    background-color: #fff;
  }
  .hitlist{
    background-color: #fff;
  }
  .adsperince{
    background-color: #448AFF;
  }
  .gradespotter{
    background-color: #292D33;
  }
  .kennedysgarage{
    background-color: #252429;
  }
  .majesticsquare{
    background-color: #536DFE;
  }
  .statuschart{
    background-color: #304354;
  }
  .theronindustries{
    background-color: #252429;
  }
  .hardawesometerriblegreat{
    background-color: #fff;
  }
  .keystone{
    background-color: #ECF0F1;
  }
  .arctap{
    background-color: #fff;
  }
  .superdense{
    background-color: #272729;
  }
  .cdm{
    background-color: #232220;
  }
  .quinnsvoice{
    background-color: #272C33;
  }
  .hivington{
    background-color: #F1C40F;
  }
  .kenvak{
      background-color: #252429;
  }
  .helm{
    background-color: #888A8F;
  }
  .rehandbook{
    background-color: #f2f2f2;
  }
  .theronhotels{
    background-color: #1F1F1F;
  }
  .theronmoto{
    background-color: #252429;
  }
  .theronproperties{
    background-color: #22242E;
  }
  .theronstudios{
    background-color: #EC4048;
  }
  .wearethehits{
    background-color: #222426;
  }
  .williamalvarez{
    background-color: #3D5AFE;
  }
  .midpoint{
    background-color: #00ADF2;
  }
  .in{
    background-color: #D8D2C4;
  }
  .lemonadestand{
    background-color: #39230E;
  }
  .transittrainer{
    background-color: #DBE2E7;
  }
  .todaywegive{
    background-color: #283137;
  }
  .gigato{
    background-color: #818f98;
  }
  .smedresmanlaw{
    background-color: #fff;
  }
  .suitandaxe{
    background-color: #fff;
  }
  .locatetime{
    background-color: #f2f2f2;
  }
  .bringyourownmagnum{
    background-color: #fff;
  }
}
/* ========================================================= Project ===*/
#project{
  h3{
    a{
      color: #455860;
    }
    img{
      margin: -5px 10px 0 0;
      vertical-align: middle;
    }
    span{
      display: inline-block;
    }
  }
  .project-intro{
    padding: 20px 0 0;
    img{
      border-radius: 10px;
      width: 60px;
      vertical-align: text-top;
      margin: 0 10px 0 0;
    }
    h1{
      font-family: 'ProximaNovaLight', sans-serif;
      margin-bottom: 10px;
      font-size: 60px;
      text-transform: uppercase;
    }
    p{
      font-size: 20px;
    }
  }
  #intro{
    .btn{
      float: right;
      i{
        margin: 0 0 0 5px;
        vertical-align: middle;
        font-size: 0.875em;
      }
    }
  }
  .role{
    h3{
      margin-top: 0;
    }
    ul{
      list-style: none;
      margin: 0 0 1em;
      padding: 0;
      li{
        margin: 0;
        padding: 0;
        i{
          font-size: 14px;
          vertical-align: middle;
        }
      }
    }
  }
  .description h3{
    margin-top: 0;
  }
  .poppop{
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
  }
}
.credit{
  list-style: none;
  margin: 0;
  padding: 0;
  li{
    border-bottom: 1px solid #ccc;
    margin: 0;
    padding: 6px 0;
    strong{
      width: 40%;
      a{
        color: #333;
      }
    }
    // &:last-child{
    //   border: none;
    // }
    span{
      float: right;
      text-align: left;
      width: 60%;
    }
  }
}

/* ========================================================= Press ===*/
#press-coverage{
  background-color: #F7F7F7;
  border: 1px solid #C2C2C0;
  border-radius: 3px 3px 3px 3px;
  list-style: none outside none;
  margin: 0 0 20px;
  padding: 0;
  position: relative;
  li{
    border-bottom: 1px solid #C2C2C0;
    margin: 0;
    padding: 10px;
    &:last-child{
      border: medium none;
    }
    a{
      color: #5F707D;
      display: block;
    }
    img{
      border-radius: 0;
      display: inline-block;
      left: 10px;
      margin: 0 20px 0 0;
      min-height: 50px;
      position: absolute;
      vertical-align: bottom;
      width: 180px;
    }
    p{
      color: #5F707D;
      display: inline-block;
      margin: 5px 24px 1px 200px;
      small{
        color: #C9C9C7;
        display: block;
        margin: -6px 0 0;
      }
    }
    i{
      position: absolute;
      right: 10px;
      margin: 17px 0 0;
    }
  }
}
/* ========================================================= Testimonials ===*/
.testimonial{
  margin: 0 0 2em;
  overflow: hidden;
  .quote{
    border: 1px solid #aaa;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    margin: 0 0 1em;
    padding: 1em 1em 0;
  }
  img{
    border: 3px solid #CCCCCC;
    float: left;
    margin: 0 1em 0 0;
    padding: 3px;
    width: 80px;
  }
  .bio{
    p{
      float: left;
      margin: 1em 0 0;
      span{
        display: block;
      }
    }
  }
}
/* ========================================================= Partners ===*/

/* ========================================================= Footer ===*/
// trying to get foot to be accorss
// footer{
//   #cta{
//     p{
//       display: block;
//     }
//     .btn{
//       display: block;
//     }
//   }
// }
footer{
  #cta{
    background-color: #505154;
    padding: 30px 0;
    p{
      color: #ccc;
      display: inline-block;
      margin: 12px 0 0;
    }
    a{
      float: right;
    }
  }
  #foot{
    background-color: #37383A;
    padding: 40px 0;
    h4{
      color: #ccc;
    }
    p{
      color: #aaa;
    }
    img{
      float: left;
      padding: 0 30px 0 0;
      width: 15%;
    }
    .copy{
      float: left;
      width: 85%;
    }
    #social{
      list-style: none;
      margin: 0 auto;
      padding: 0;
      li{
        display: inline-block;
        margin: 0;
        padding: 0;
        a{
          color: #aaa;
          padding: 6px 10px 6px 0;
          text-shadow: none;
          &:hover{
            color: #fff;
          }
        }
      }
    }
  }
}
// #status{
//   background-color: #1FBC9A;
//   border-radius: 4px;
//   color: #fff;
//   margin: 0 0 30px;
//   padding: 10px;
// }
// #status img{
//   float: left;
//   margin: 0 5px 0 0;
// }
// #status p{
//   color: #ddd;
//   font-size: 16px;
//   margin: 6px 0 0 0;
//   text-align: center;
// }
// #status a{
//   color: #fff;
//   text-decoration: underline;
// }
// #status i{
//   font-size: 18px;
//   vertical-align: middle;
// }
/* ========================================================= Respond ===*/
@media all and (min-width: 41em){
  body{font-size: 1.125em;}
  .container{
    padding-left: 20px;
    padding-right: 20px;
  }
  .row{
    margin-left: -1em;
    margin-right: -1em;
  }
  .col-12 { width: 100%; }
  .col-9 { width: 75%; }
  .col-8 { width: 66.7%; }
  .col-6 { width: 50%; }
  .col-4 { width: 33.3%; }
  .col-3 { width: 25%; }
  .flow-opposite { float: right; }
  header{
    padding: 20px 0 60px;
    h1{
      display: inline-block;
      a{
        padding: 0;
      }
    }
    .menu{
      display: none;
    }
  }
  header.simple{
    padding: 20px 0;
  }
  .page{
    margin-top: -40px;
  }
  /* -------------
  -- Navigation --
  ------------- */
  nav{
    background: none;
    display: inline-block;
    float: right;
    text-align: right;
    width: inherit;
    ul{
      list-style: none;
      margin: 0;
      padding: 0;
      text-align: center;
      li{
        border: none;
        display: inline-block;
        padding: 0;
        a{
          color: #a7abb1;
          display: block;
          font-size: 15px;
          padding: 18px 20px 8px;
          text-align: center;
          text-transform: uppercase;
          &:hover{
            color: #fff;
          }
        }
      }
      .current a{
        color: #fff;
      }
    }
  }
  .page{
    .content{
      padding: 2em 2em 0.5em 2em;
    }
  }
  #partners{
    .col-3{
      min-height: 315px;
    }
  }
}
@media all and (min-width: 960px){

  header h1{
    display: inline;
  }
  /*pre{
    width: 920px;
    margin-left:-160px;
  }*/
}
