/* ========================================================= Typography ===*/
h1, h2, h3, h4 {
  color: #262628;
  font-family: 'Effra Medium', sans-serif;
  margin: 1.414em 0 0.5em;
  font-weight: normal;
  line-height: 1.2;
}
h1{
  font-size: 3.998em;
  margin: 0 0 30px;
}
h2{
  color: #262628;
  font-size: 2.827em;
  font-weight: 400;
  margin: 0 0 5px;
  padding: 0;
}
h3{
  border-bottom: 3px solid #b6b6bf;
  color: #262628;
  display: block;
  font-weight: 400;
  font-size: 1.999em;
  margin: 0 0 5px;
  margin: 30px 0 10px;
}
h4{
  color: #262628;
  color: #4f5a63;
  font-weight: 400;
  font-size: 1.414em;
  margin: 5px 0;
}
p{
  color: #414145;
  line-height: 1.5;
  margin: 0 0 1.3em;
}
strong{
  color: #262628;
}
small, .font_small{
  font-size: 0.707em;
}
ul{
  margin: 0 0 20px;
}
li{
  color: #414145;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Effra Regular', sans-serif;
  font-size: 1em;
  line-height: 1.5;
}
dl{
  color: #414145;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Effra Regular', sans-serif;
  font-size: 1em;
  line-height: 1.5;
  margin: 0 0 10px;
}
dt{
  font-weight: bold;
}
dd{
  color: #A9A9A9;
  font-size: 1em;
  margin: 0 0 10px 10px;
}
blockquote {
  background-color: #eee;
  padding: 10px 15px 10px 15px;
  margin: 0 0 20px;
  border-left: 5px solid #aaa;
}
blockquote p {
  font-family: 'Vollkorn', serif;
  font-weight: 400;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.4;
}
blockquote small {
  display: block;
  color: #A9A9A9;
}
