/* ========================================================= Utility ===*/
.btn{
    background-color: #6197e8;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(97, 151, 232)), to(rgb(55, 118, 224)));
    background-image: -webkit-linear-gradient(top, rgb(97, 151, 232), rgb(55, 118, 224));
    background-image: -moz-linear-gradient(top, rgb(97, 151, 232), rgb(55, 118, 224));
    background-image: -o-linear-gradient(top, rgb(97, 151, 232), rgb(55, 118, 224));
    background-image: -ms-linear-gradient(top, rgb(97, 151, 232), rgb(55, 118, 224));
    background-image: linear-gradient(top, rgb(97, 151, 232), rgb(55, 118, 224));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#6197e8', EndColorStr='#3776e0');
    border: 1px solid #2463c4;
    border-radius: 4px;
    box-shadow: 0 0 0 2px rgba(255,255,255,0.1) inset, 0 1px 0px rgba(0,0,0,0.3);
    color: #fff;
    font-size: 18px;
    padding: 8px 14px;
    text-shadow: none;
}
.btn:hover{
    background-color: #10ccbc;
    color: #fff;
}
hr {
    background: none repeat scroll 0 0 #a4aaae;
    border: medium none;
    box-shadow: 0 1px 0 #F7F6F5;
    clear: both;
    height: 1px;
    margin: 0 0 20px;
    width: 100%;
}
figure{
    margin: 0 0 20px;
}
figure img{
	height: auto;
    margin: 0 0 4px;
	max-width: 100%;
}
figcaption h4{
	font-style: normal;
}
figcaption{
	color: #777;
	font-size: 14px;
	font-style: italic;
}
.sarcasm{
	display: inline-block;
	-moz-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(15deg, 0deg);
	-webkit-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(15deg, 0deg);
	-o-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(15deg, 0deg);
	-ms-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(15deg, 0deg);
	transform: scale(1) rotate(0deg) translate(0px, 0px) skew(15deg, 0deg);
}
mark{
    background-color: #fdffb6;
    box-shadow: #fdffb6 0 0 5px;
    padding: 2px;
}
.fluid-width-video-wrapper{
    margin: 0 0 18px;
}
.note{
    font-size: 14px;
    color: #aaa;
}

form{

}
form p{

}
form label{
    font-weight: 600;
}
form input[type=text], form input[type=email]{
    background-color: #feffe3;
    background: none;
    border:none;
    border-bottom: 1px dotted #999;
    border-radius: 3px 3px 0 0;
    max-width: 260px;
    width: 100%;
}
form input[type=text].address{
    max-width: 500px;
}
form button{

    background-color: #1FBC9A;
    border:none;
    border-bottom-color: #18967b;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    margin: 10px 0;
    padding: 10px 30px;
    text-shadow: 1px 1px 1px #18967b;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
form button:hover{
    background: #1db392;
}
