/* ========================================================= Utility ===*/
.btn{
  background-color: #1FBC9A;
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 3px;
  box-shadow: 0 0 0 2px rgba(255,255,255,0.1) inset, 0 1px 0px rgba(0,0,0,0.3);
  color: #fff;
  font-size: 18px;
  padding: 8px 30px;
  text-transform: capitalize;
  text-shadow: none;
  &:hover{
    background-color: #22d6af;
    color: #fff;
  }
  i{
    margin-right: 5px;
    vertical-align: middle;
  }
}
.btn-ghost{
  background: none;
  border: 1px solid #1FBC9A;
  box-shadow: none;
  color: #1FBC9A;
  &:hover{
    color: #fff;
  }
}
.last{
  margin-bottom: 0;
}
hr{
    background: none repeat scroll 0 0 #a4aaae;
    border: medium none;
    box-shadow: 0 1px 0 #F7F6F5;
    clear: both;
    height: 1px;
    margin: 30px 0;
    width: 100%;
}
img{
  height: auto;
  max-width: 100%;
}
figure{
    margin: 0 0 20px;
    img{
      height: auto;
      margin: 0 0 4px;
      max-width: 100%;
    }
    h4{
      font-style: normal;
    }
    figcaption{
      color: #777;
      font-size: 14px;
      font-style: italic;
    }
    &.center{
      img{
        margin-left: auto;
        margin-right: auto;
        display: block;
      }
      figcaption{
        text-align: center;
      }
    }
}


.sarcasm{
	display: inline-block;
	-moz-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(15deg, 0deg);
	-webkit-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(15deg, 0deg);
	-o-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(15deg, 0deg);
	-ms-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(15deg, 0deg);
	transform: scale(1) rotate(0deg) translate(0px, 0px) skew(15deg, 0deg);
}
mark{
    background-color: #fdffb6;
    box-shadow: #fdffb6 0 0 5px;
    padding: 2px;
}
.fluid-width-video-wrapper{
    margin: 0 0 18px;
}
.note{
    font-size: 14px;
    color: #aaa;
}

form{

}
form p{

}
form label{
    font-weight: 600;
}
form input[type=text], form input[type=email]{
    background-color: #feffe3;
    background: none;
    border:none;
    border-bottom: 1px dotted #94949c;
    border-radius: 3px 3px 0 0;
    max-width: 260px;
    width: 100%;
}
form input[type=text].address{
    max-width: 500px;
}
form button{

    background-color: #1FBC9A;
    border:none;
    border-bottom-color: #18967b;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    margin: 10px 0;
    padding: 10px 30px;
    text-shadow: 1px 1px 1px #18967b;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
form button:hover{
    background: #1db392;
}
/* ========================================================= Blockquote ===*/
blockquote {
  margin: 3em 0 2.5em;
  text-align: center;
}
blockquote p {
  font-family: Georgia, serif;
  font-weight: 400;
  margin-bottom: 0;
  font-size: 31px;
  -moz-hyphens: none !important;
  text-align: center !important;
}
blockquote small {
  display: block;
  color: #A9A9A9;
  font-size: 20px;
}
/* ========================================================= Thumbnail ===*/
.thumbnail{
  .caption{
    color: #808087;
    display: block;
    line-height: 1;
    // margin: 0;
    text-align: center;
  }
  strong{
    display: block;
    line-height: 1;
  }
  span{
    color: #808087;
    font-size: 14px;
  }
}
